<div class="container-fluid">
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <div class="well" style="padding-bottom: 10px !important;">
      <%= form_for(@team) do |f| %>
        <% if @team.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

            <ul>
            <% @team.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="clearfix"></div>
        <div class="field" style="margin-bottom: 5px !important;">
          <%= f.label :name %><br>
          <%= f.text_field :name, class: 'form-control', required: true %>
        </div>
        <div class="form-group col-xs-6 no-padding">
          <%= f.label :team %><br>
          <%= collection_select( :team, :team_type_id, TeamType.where(id: 3), :id, :description, {}, { :multiple => false }) %>
        </div>
        <div class="actions col-xs-6 no-padding">
          <%= f.submit 'Save', class: 'btn btn-primary pull-right', required: true, style: 'margin-top: 15px !important;' %>
          <%= link_to 'Back to Teams', teams_path, class: 'btn btn-primary pull-right', required: true, style: 'margin-top: 15px !important; margin-right: 10px !important;' %>
        </div><div class="clearfix"></div>
      <% end %>
