<div class="container text-center"><br />
<h1 style="margin-top: 0px;">Teams</h1>
  <div class="well welly center">

    <%= link_to 'Create New Team', new_team_path, class: 'btn btn-lg btn-primary' %><br /><br />

    <table class="table table-hover table-responsive">
      <thead>
        <tr>
          <th class="text-center">Team Name</th>
          <th class="text-center">Type</th>
          <th colspan="2" class="text-center">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @teams.each do |team| %>
        <% @team_user = TeamUser.where(user_id: current_user.id).where(team_id: team.id).first %>
        <% @manage_ids = [2, 1, 4, 7, 8, 9] %>
          <tr>
            <td style="padding-top: 12px !important;"><%= team.name %></td>
            <td style="padding-top: 12px !important;"><%= team.team_type.description %></td>
            <% if @manage_ids.include? @team_user.team_user_role_id %>
              <td><%= link_to 'Manage', team, class: 'btn btn-primary btn-sm' %></td>
              <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary btn-sm' %></td>
            <% else %>
              <td><%= link_to 'Home Page', team, class: 'btn btn-primary btn-sm' %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
