<br>
        <div class="container-fluid">
            <div class="row">
                <div class="hidden-xs col-sm-6" >
                    <h1 class="no-margin" style="margin-top: 0px !important;">Dashboard</h1>
                </div>
                <div class="col-sm-6 no-padding hidden-xs" style="padding-right: 15px !important;">
                    <%= link_to 'Create New Team', new_team_path, class: 'btn btn-primary pull-right', style: 'vertical-align: text-bottom;' %></h1>
                </div>
                <div class="col-sm-6 no-padding visible-xs" style="padding-right: 15px !important;">
                    <center>
                        <%= link_to 'Create New Team', new_team_path, class: 'btn btn-primary', style: 'vertical-align: text-bottom;' %></h1>
                    </center>
                </div>
                <!-- /.col-lg-12 -->
            </div><br>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-list-alt fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= @prospects %></div>
                                    <div><% if @prospects == 1 %>Prospect<% else %>Prospects<% end -%></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-file fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= @statements %></div>
                                    <div><% if @statements == 1 %>Statement<% else %>Statements<% end -%></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= @today_tasks %></div>
                                    <div><% if @today_tasks == 1 %>Today Task<% else %>Today Tasks<% end -%></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= @team.users.count %></div>
                                    <div><% if @team.users.count == 1 %>User<% else %>Users<% end -%></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <hr style="margin: 5px !important; margin-bottom: 15px !important; border: 2px solid #D4D4D4;">

<% @team_user = TeamUser.where(user_id: current_user.id).where(team_id: @team.id).first %>
        <% @manage_ids = [2, 1, 4, 7, 8, 9] %>
        <% if @manage_ids.include? @team_user.team_user_role_id %>
            <%= form_for [@team, TeamUser.new] do |f| %>
             <h3 class="no-margin text-center bold" style="margin-bottom: 5px !important;">Invite User</h3>
              <div class="input-group">
                <%= f.text_field :email, required: true, class: 'form-control input-lg', placeholder: 'Invite User', style: '' %>
                <div class="input-group-addon"><%= f.submit 'Invite', class: 'nothing' %></div>
              </div>
              
            <% end %>
        <% end %><br>

            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Prospects By Date
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div id="morris-bar-chart"></div>
                                </div>
                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

                    <div class="chat-panel panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-comments fa-fw"></i> Chat
                            <div class="btn-group pull-right">
                                <%= link_to team_path(@team), class: 'black no-dec' do %>
                                    <i class="fa fa-refresh fa-fw"></i> Refresh
                                <% end -%>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" id="chat_div">
                            <div class="chat chats<%= @team.id %>" style="padding: 15px;"> 
                                    <%= render :partial => @team.chats %>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                        <div class="panel-footer">
                            <%= form_for [@team, Chat.new], remote: true do |f| %>
                                <div class="field">
                                    <div class="input-group">
                                    <%= f.text_field :message, class: "form-control body", :required => true, :placeholder => 'Send Message', :style => 'height: 36px !important;' %>
                                    <div class="input-group-addon"><%= f.submit 'Send', class: 'nothing' %></div>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                        <!-- /.panel-footer -->
                    </div>
                    <!-- /.panel .chat-panel -->


                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-users"></i> Users
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group overflow">
                                <a href="#" class="list-group-item" style="margin-right: 5px;">
                                    <i class="fa fa-table" style="margin-right: 10px;"></i> <b>All Users</b>
                                    <span class="pull-right bold"><%= @team.users.count %></span>
                                </a>
                                <% @team.users.each do |user| %>
                                    <a href="#" class="list-group-item" style="margin-right: 5px;">
                                        <% if user.first_name == nil || user.last_name == nil %>
                                            <i class="fa fa-user" style="margin-right: 10px;"></i> <%= user.email %>
                                        <% else %>
                                            <i class="fa fa-user" style="margin-right: 10px;"></i> <%= user.first_name %> <%= user.last_name %>
                                        <% end -%>
                                        <span class="pull-right text-muted small"><em>
                                            <% if user.confirmed_at == nil %>
                                                    <span class="label label-danger">Unconfirmed</span>
                                                <% elsif user.confirmed_at != nil && user.stripe_subscription_id == nil %>
                                                    <span class="label label-primary">Trial User</span>
                                                <% elsif user.confirmed_at != nil && user.stripe_subscription_id != nil %>
                                                    <span class="label label-success">Active</span>
                                                <% else %>
                                                    <span class="label label-info">Unknown Status</span>
                                            <% end %>
                                        </em>
                                        </span>
                                    </a>
                            <% end -%>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> User Activity
                        </div>
                        <div class="panel-body">
                            <div id="morris-donut-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

<script type="text/javascript">
    



    Morris.Donut({
        element: 'morris-donut-chart',
        data: [{
            label: "Active",
            value: <%= @active_users %>
        }, {
            label: "Inactive",
            value: <%= @inactive_users %>
        }],
        resize: true
    });

    Morris.Bar({
        element: 'morris-bar-chart',
        data: [{
            d: <%= @six_days_ago %>,
            a: <%= @six_days_ago_prospects %>,
        }, {
            d: <%= @five_days_ago %>,
            a: <%= @five_days_ago_prospects %>,
        }, {
            d: <%= @four_days_ago %>,
            a: <%= @four_days_ago_prospects %>,
        }, {
            d: <%= @three_days_ago %>,
            a: <%= @three_days_ago_prospects %>,
        }, {
            d: <%= @two_days_ago %>,
            a: <%= @two_days_ago_prospects %>,
        }, {
            d: <%= @one_day_ago %>,
            a: <%= @one_day_ago_prospects %>,
        }, {
            d: <%= @today %>,
            a: <%= @todays_prospects %>,
        }],
        xkey: 'd',
        ykeys: ['a'],
        labels: ['Prospects'],
        hideHover: 'auto',
        resize: true
    });

</script>

<script type="text/javascript">
    
$('#chat_div').scrollTop($('#chat_div')[0].scrollHeight);

</script>