<%= form_for(@processoruser) do |f| %>
  <% if @processoruser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@processoruser.errors.count, "error") %> prohibited this processoruser from being saved:</h2>

      <ul>
      <% @processoruser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :processor_id %><br>
    <%= f.text_field :processor_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :agentnumber %><br>
    <%= f.number_field :agentnumber %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
