<div class="container-fluid">
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <div class="well" style="padding-bottom: 10px !important;">
      <%= form_for([@program, @custom_field]) do |f| %>
        <% if @custom_field.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@custom_field.errors.count, "error") %> prohibited this custom_field from being saved:</h2>

            <ul>
            <% @custom_field.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="clearfix"></div>
        <div class="field" style="margin-bottom: 5px !important;">
          <%= f.label :name %><br>
          <%= f.text_field :name, class: 'form-control', required: true %>
        </div>
        <div class="field" style="margin-bottom: 5px !important;">
          <%= f.label :amount %><br>
          <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.text_field :amount, class: 'form-control', :data => { type: 'number'}, required: true %>
          </div>
        </div>
        <div class="field" style="margin-bottom: 5px !important;">
          <%= f.label :cost %><br>
          <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.text_field :cost, class: 'form-control', :data => { type: 'number' }, required: true %>
          </div>
        </div>
        <div class="form-group col-xs-6 no-padding">
            <%= f.label :custom_field %><br>
            <%= collection_select( :custom_field, :custom_field_type_id, CustomFieldType.all, :id, :name, {}, { :multiple => false }) %>
          </div>
        <div class="actions col-xs-6 no-padding">
          <%= f.submit 'Save', class: 'btn btn-primary pull-right', required: true, style: 'margin-top: 15px !important;' %>
        </div><div class="clearfix"></div>
      <% end %>
    </div>
  </div>
</div>