<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @custom_field_type.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @custom_field.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @custom_field.amount %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @custom_field.cost %>
</p>


