<div class="container">

            <div class="col-lg-12">
                <h1 class="page-header">Blog
                </h1>
                <ol class="breadcrumb">
                    <li><%= link_to 'Home', :controller => 'static', :action => 'index' %>
                    </li>
                    <li class="active">Blog</li>
                </ol>
            </div>

            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <%= search_form_for @search do |f| %>
                                <div class="input-group stylish-input-group">
                                <%=f.search_field :title_or_body_or_author_cont, :class => 'form-control', :placeholder => 'Search' %>
                                <span class="input-group-addon">
                                    <button type="submit">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>  
                                </span>
                               </div>
                        <% end %><br>
            </div>
            <div class="clearfix"></div>
            <h1 class="text-center"><%= @searchnone %></h1>
            <div class="clearfix"></div>
        <!-- /.row -->
        <% @blogs.each do |blog| %>
        <!-- Blog Post Row -->
        <div class="row center-block">
            <div class="col-xs-12 col-md-4">
            <div class="well">
                Image Will Go Here<br><%= link_to 'Current Images', images_path %><br><br><br><br><br><br><br><br><br>
            </div>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-xs-12 col-md-6">
                <h3>
                    <%= link_to blog.title, blog, :class => 'black' %>
                </h3>
                <b><%= markdown('By ' + blog.author) %></b>
                <%= truncate(markdown(blog.body), :length => 250, :separator => ' ', escape: false) %></strong><br><br>
                <%= link_to blog do %>
                    <button class="btn btn-primary">Read More <i class="fa fa-angle-right"></i></button>
                <% end %>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <br>
        <% end %>

        
        <hr>

<%= link_to new_blog_path, :class => 'btn fab-btn white' do %>
    <i class="fa fa-plus" aria-hidden="true"></i>
<% end %>

    
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>