<div class="container">

            <div class="col-lg-12">
                <h1 class="page-header">Blog
                </h1>
                <ol class="breadcrumb">
                    <li><%= link_to 'Home', :controller => 'static', :action => 'index' %>
                    </li>
                    <li class="active">Blog</li>
                </ol>
            </div>
        <!-- /.row -->
        <% @blogs.each do |blog| %>
        <!-- Blog Post Row -->
        <div class="row">

            <div class="col-xs-12 col-sm-8 col-sm-offset-3 col-md-4 col-md-offset-0">
                    <% if blog.image_url == nil %>
                    <% else %>
                    <%= link_to image_tag(blog.image_url(:thumb).to_s, :class => 'thumbnail img-responsive'), blog %>

                    <% end %>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-xs-12 col-md-6">
                <h3>
                    <%= link_to blog.title, blog %>
                </h3>
                <%= markdown('By ' + blog.author) %>
                <%= truncate(markdown(blog.body), :length => 250, :separator => ' ', escape: false) %></strong><br><br>
                <%= link_to blog do %>
                    <button class="btn btn-primary">Read More <i class="fa fa-angle-right"></i></button>
                <% end %>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <br>
        <% end %>

        
        <hr>
<%= link_to(content_tag(:button, '+', :class => 'btn btn-primary fab-btn'), new_blog_path) %>
    
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>


