<div class="container-fluid">
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <h2 class="black-standard bold"><span class="hidden-xs">User Profile </span><span class="visible-xs"><center>User Profile </center></span>
    <span class="pull-right hidden-xs"><%= link_to(content_tag(:button, 'Program Wizard', :class => 'btn btn-primary'), programs_path) %> <%= link_to(content_tag(:button, 'Team Wizard', :class => 'btn btn-primary'), teams_path) %> </span>
    <span class="visible-xs"><center><%= link_to(content_tag(:button, 'Program Wizard', :class => 'btn btn-primary'), programs_path) %> <%= link_to(content_tag(:button, 'Team Wizard', :class => 'btn btn-primary'), teams_path) %></center></span></h2>

      <div class="well">
        <%= devise_error_messages! %>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true, :class => 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, :class => 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, :class => 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :phone_number %><br />
        <%= f.text_field :phone_number, :class => 'form-control' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(Leave Blank If You Don't Want To Change It)</i><br />
        <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(We Need Your Current Password to Confirm Your Changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", :class => 'form-control' %>
      </div>
      <br>
      <div class="actions text-center">
        <%= button_tag("Update", :class => 'btn btn-primary') %>
        <%= link_to(content_tag(:button, 'Back', :class => 'btn btn-primary'), static_index_path) %>
      </div>
    <% end %>