<div class="container-fluid full"><br>
  <div class="col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-2 col-xs-12 col-lg-5 col-lg-offset-1">
    <div class="well welly welly-lg hidden-xs hidden-sm" style="min-width:350px;max-width:350px;margin-top:40px;">
      <h3 class="text-center">Sign Up</h3><br />

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, :class => 'form-control', autofocus: true, required: true %>
      </div>

      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, :class => 'form-control', required: true %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, :class => 'form-control', required: true %>
      </div>

      <div class="field">
        <%= f.label :phone_number %><br />
        <%= f.text_field :phone_number, :class => 'form-control', required: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> Characters Minimum)</em>
        <% end %><br>
        <%= f.password_field :password, autocomplete: "off", :class => 'form-control', required: true %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control', required: true %>
      </div>
      <br>
      <div class="actions text-center">
        <%= f.submit "Create My Account", :class => 'btn btn-primary' %>
      </div>
    <% end %>
    <div class="text-center">
    <%= render "devise/shared/links" %>
    </div>
    </div>


<center>
    <div class="well visible-xs visible-sm" style="max-width:350px;">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, :class => 'form-control', autofocus: true, required: true %>
      </div>

      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, :class => 'form-control', required: true %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, :class => 'form-control', required: true %>
      </div>

      <div class="field">
        <%= f.label :phone_number %><br />
        <%= f.text_field :phone_number, :class => 'form-control', required: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> Characters Minimum)</em>
        <% end %><br>
        <%= f.password_field :password, autocomplete: "off", :class => 'form-control', required: true %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control', required: true %>
      </div>
      <br>
      <div class="actions text-center">
        <%= f.submit "Create My Account", :class => 'btn btn-primary' %>
      </div>
      <% end %>
      <div class="text-center">
      <%= render "devise/shared/links" %>
      </div>
    </div>
    </center>
  </div>
</div>
