<div class="container-fluid">
<div class="text-center">
<h1 class="hidden-xs">Qualifying Programs</h1>
<h1 class="visible-xs">Programs</h1>
<br>
</div>


<center>

<p class="visible-xs text-left">B = Bonus | R = Residual<br>BP = Basis Points | TF = Trans Fee<br>S = Savings | P = Proposal</p>

              <span class="">
              <% c = @comparisons.first %>
              <% if c.total_program_savings > 1 %>
              <%= link_to({:controller => 'comparisons', :action => 'decrease_savings', :prospect_id => @prospect.id, :statement_id => @statement.id}, class: 'btn btn-primary') do %>
                <i class="fa fa-angle-left" aria-hidden="true"></i> Decrease Savings
              <% end -%>
              <% end %>

               <% c = @comparisons.first %>
              <% p = Program.find_by_id(c.program_id) %>
              <% if c.bp_mark_up > p.min_bp_mark_up %>
                <%= link_to({:controller => 'comparisons', :action => 'increase_savings', :prospect_id => @prospect.id, :statement_id => @statement.id}, class: 'btn btn-primary') do %>
                  Increase Savings <i class="fa fa-angle-right" aria-hidden="true"></i>
                <% end -%>
              <% end %>
              </span>
<div class="clearfix">  </div><br>
</center>

<table class="table table-striped table-responsive table-hover table-bordered nothing">
    <thead class="">
        <tr class="white total">
            <th class="statement-name">Name</th>
            <th><span class="hidden-xs">Bonus</span><span class="visible-xs">B</span></th>
            <th><span class="hidden-xs">Residual</span><span class="visible-xs">R</span></th>
            <th><span class="hidden-xs">Basis Points</span><span class="visible-xs">BP</span></th>
            <th><span class="hidden-xs">Trans Fee</span><span class="visible-xs">TF</span></th>
            <% if @statement.total_fees != 0 %>
            <th class=""><span class="hidden-xs col-lg-6">Savings</span><span class="visible-xs">S</span>
            </th>
            <% end %>
            <th><span class="hidden-xs">Proposal</span><span class="visible-xs">P</span></th>
        </tr>
    </thead>


<% @comparisons.each do |comparison| %>
<% @program = Program.find_by_id(comparison.program_id) %>

<tbody>
   <tr class="">
     <td class="visible-xs"><%= truncate(@program.name, length: 15) %></td>
     <td class="visible-sm"><%= truncate(@program.name, length: 30) %></td>
     <td class="visible-md visible-lg"><%= truncate(@program.name, length: 80) %></td>
       <td class="text-left">$<%= number_with_precision(comparison.total_program_bonus, precision: 0) %></td>
       <td class="text-left">$<%= number_with_precision(comparison.total_program_residuals, precision: 0) %></td>
       <td><%= number_with_precision(comparison.bp_mark_up, precision: 0) %></td>
       <td><%= number_with_precision(comparison.per_item_fee, precision: 2) %></td>
      <% if comparison.savings_fixed != 0 %>
         <td class="savings">$<%= number_with_precision(comparison.total_program_savings, precision: 0) %></td>
      <% end %>
       <td class="text-center fixed-width-td"><%= link_to('Present', prospect_statement_comparison_path(@prospect, @statement, comparison), :class => "btn btn-primary btn-sm no-margin") %></td>
   </tr>
 </tbody>

 <% end %>
</table>
</div>
