<div class="text-center">
<h1>Program Comparisons</h1>
<br>
</div>

<table class="table table-striped table-responsive table-hover table-bordered">
    <thead>
        <tr class="white total">
            <th>Name</th>
            <th>Bonus</th>
            <th>Residual</th>
            <% if @statement.total_fees != 0 %>
            <th>Savings</th>
            <% end %>
            <th>Proposal</th>
        </tr>
    </thead>


<% @comparisons.each do |comparison| %>
<% @program = Program.find_by_id(comparison.program_id) %>

<tbody>
   <tr class="">
     <td><%= @program.name %></td>
       <td class="text-left"><%= number_to_currency(comparison.total_program_bonus) %></td>
       <td class="text-left"><%= number_to_currency(comparison.total_program_residuals) %></td>
      <% if @comparison.total_program_savings != 0 %>
         <td><%= number_to_currency(@comparison.total_program_savings) %></td>
      <% end %>
       <td class="text-left fixed-width-td"><%= link_to('Present', {:controller => 'comparisons', :action => 'show', :prospect_id => @prospect.id, :statement_id => @statement.id, :program_id => @program.id}, :class => "btn btn-primary") %></td>
   </tr>
 </tbody>

 <% end %>
</table>
