<h1>Program Comparisons</h1>

<% @programs.each do |program| %>

<% @batch_fees = @statement.batches * program.min_per_batch_fee %>
<% @vs_mc_disc_volume = ( @statement.total_vol - @statement.amex_vol ) %>
<% @vs_mc_disc_transactions = ( @vs_mc_disc_volume / @statement.avg_ticket ) %>
<% @total_transactions = ( @statement.total_vol / @statement.avg_ticket ) %>
<% @amex_transactions = ( @statement.amex_vol / @statement.avg_ticket ) %>
<% @vs_mc_disc_mark_up = ( @vs_mc_disc_volume * (program.min_bp_mark_up / 10000 ) ) %>
<% @amex_mark_up = ( @statement.amex_vol * ( program.min_amex_bp_fee / 10000 ) ) %>
<% @vs_mc_disc_trans_fees = ( @vs_mc_disc_transactions * program.min_per_item_fee ) %>
<% @amex_trans_fees = ( @amex_transactions * program.min_amex_per_item_fee ) %>
<% @avg_access_per_item = (((program.visa_access_per_item * 4) + (program.mc_access_per_item * 4) + (program.disc_access_per_item * 2)) / 10) %>
<% @avg_access_bp = (((program.visa_access_percentage * 4) + (program.mc_access_percentage * 4) + (program.disc_access_percentage * 2)) / 10) %>
<% @access_fees = (@vs_mc_disc_volume * (@avg_access_bp / 10000)) + (@vs_mc_disc_transactions * @avg_access_per_item) %>

<% @debit_fees = (@statement.debit_trans * program.min_pin_debit_per_item_fee) + (@statement.debit_network_fees) %>
    <% if @debit_fees > 0 %>
      <% @debit_fees += program.min_monthly_debit_fee %> 
    <% end %>

<% @total_program_fees = @statement.interchange + @batch_fees + @vs_mc_disc_mark_up + @amex_mark_up + @vs_mc_disc_trans_fees + @amex_trans_fees + @access_fees + program.min_monthly_fees + program.monthly_pci_fee + (program.annual_pci_fee / 12) + @debit_fees %>

<% @batch_costs = @statement.batches * program.per_batch_cost %>
<% @bin_costs = @vs_mc_disc_volume * (program.bin_sponsorship / 10000) %>
<% @vs_mc_disc_per_item_costs = @vs_mc_disc_transactions * program.per_item_cost  %>      
<% @amex_per_item_costs = @amex_transactions * program.amex_per_item_cost %>
<% @amex_bp_costs = @statement.amex_vol * (program.amex_per_item_cost / 10000) %>
<% @pin_debit_costs = @statement.debit_trans * program.pin_debit_per_item_cost %>
  <% if @debit_fees > 0 %>
    <% @pin_debit_costs += program.monthly_debit_fee_cost %> 
  <% end %>         

   <%  @total_program_costs = @batch_costs + @bin_costs + @vs_mc_disc_per_item_costs + @amex_per_item_costs + @amex_bp_costs + @pin_debit_costs + program.monthly_fee_costs + program.monthly_pci_cost %>  


<div class="comparison-div">
	<div class="title">
		<p><b><%= program.name %></b></p>
	</div>
	<div id="content-columns">
		<div id="panel-body-left">
			<p class="main_content_p"><b>Current Fees: </b><%= number_to_currency(@statement.total_fees) %></p>
			<p class="main_content_p"><b>Program Fees: </b><%= number_to_currency(@total_program_fees) %></p>
			<p class="main_content_p"><b>Schedule A: </b><%= number_to_currency(@total_program_costs) %></p>
			<p class="main_content_p"><b>Access BP: </b><%= number_to_currency(@avg_access_bp) %></p>
			<p class="main_content_p"><b>Access Fees: </b><%= number_to_currency(@access_fees) %></p>
			<p class="main_content_p"><b>Debit Fees: </b><%= number_to_currency(@debit_fees) %></p>
			<p class="main_content_p"><b>Batch Fees: </b><%= number_to_currency(@batch_fees) %></p>
		</div>
		<div id="panel-body-center">
			<p class="main_content_p"><b>VMD Per Item: </b><%= number_to_currency(@vs_mc_disc_per_item_costs) %></p>
			<p class="main_content_p"><b>Debit Costs: </b><%= number_to_currency(@pin_debit_costs) %></p>
			<p class="main_content_p"><b>Amex Per Item: </b><%= number_to_currency(@amex_per_item_costs) %></p>
			<p class="main_content_p"><b>Access Per Item: </b><%= number_to_currency(@avg_access_per_item) %></p>
			<p class="main_content_p"><b>VMD Mark-Up: </b><%= number_to_currency(@vs_mc_disc_mark_up) %></p>
			<p class="main_content_p"><b>Amex Mark Up: </b><%= number_to_currency(@amex_mark_up) %></p>
			<p class="main_content_p"><b>VMD Trans: </b><%= number_to_currency(@vs_mc_disc_transactions) %></p>
		</div>
		<div id="panel-body-right">
			<p class="main_content_p"><b>Amex BP Cost: </b><%= number_to_currency(@amex_bp_costs) %></p>
			<p class="main_content_p"><b>Program Fees: </b><%= number_to_currency(@total_program_fees) %></p>
			<p class="main_content_p"><b>Bin Costs: </b><%= number_to_currency(@bin_costs) %></p>
			<p class="main_content_p"><b>VMD Trans Fees: </b><%= number_to_currency(@vs_mc_disc_trans_fees) %></p>
			<p class="main_content_p"><b>Amex Trans Fees: </b><%= number_to_currency(@amex_trans_fees) %></p>
			<p class="main_content_p"><b>Amex Trans: </b><%= number_to_currency(@amex_transactions) %></p>
			<p class="main_content_p"><b>Total Trans: </b><%= number_to_currency(@total_transactions) %></p>
			<p class="main_content_p"><b>VMD Vol: </b><%= number_to_currency(@vs_mc_disc_volume) %></p>
		</div>
	</div><br><br><br><br><br><br><br><br><br><br><br><br>

	<div class="buttons">
		<h3 class="bold-footer">Bonus: <%= number_to_currency(program.up_front_bonus) %></h3>
		<% @total_savings = @statement.total_fees - @total_program_fees %>
		<h3 class="bold-footer">Savings: <%= number_to_currency(@total_savings) %></h3>
		<% @total_residual = (@total_program_fees - @total_program_costs) * (program.residual_split / 100) %>
		<h3 class="bold-footer">Residual: <%= number_to_currency(@total_residual) %></h3>
	</div>
</div>
<br>

<% end %>  
</div>









<div class="container text-center">
<div class="col-sm-8 col-sm-offset-2">
<div class="panel panel-primary">

	<div class="panel-heading">
		<h3 class="panel-title">
			<b><%= @programs.name %></b>
		</h3>
	</div>

	<div class="panel-body">
		<div class="col-sm-4">
			<div class="text-left">
			<b>Current Fees: </b><%= number_to_currency(@statement.total_fees) %><br>
			<b>Program Fees: </b><%= number_to_currency(@total_program_fees) %><br>
			<b>Schedule A: </b><%= number_to_currency(@total_program_costs) %><br>
			<b>Access BP: </b><%= number_to_currency(@avg_access_bp) %><br>
			<b>Access Fees: </b><%= number_to_currency(@access_fees) %><br>
			<b>Debit Fees: </b><%= number_to_currency(@debit_fees) %><br>
			<b>Batch Fees: </b><%= number_to_currency(@batch_fees) %>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="text-center">
			<b>VMD Per Item: </b><%= number_to_currency(@vs_mc_disc_per_item_costs) %><br>
			<b>Debit Costs: </b><%= number_to_currency(@pin_debit_costs) %><br>
			<b>Amex Per Item: </b><%= number_to_currency(@amex_per_item_costs) %><br>
			<b>Access Per Item: </b><%= number_to_currency(@avg_access_per_item) %><br>
			<b>VMD Mark-Up: </b><%= number_to_currency(@vs_mc_disc_mark_up) %><br>
			<b>Amex Mark Up: </b><%= number_to_currency(@amex_mark_up) %><br>
			<b>VMD Trans: </b><%= number_to_currency(@vs_mc_disc_transactions) %>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="text-right">
			<b>Amex BP Cost: </b><%= number_to_currency(@amex_bp_costs) %><br>
			<b>Program Fees: </b><%= number_to_currency(@total_program_fees) %><br>
			<b>Bin Costs: </b><%= number_to_currency(@bin_costs) %><br>
			<b>VMD Trans Fees: </b><%= number_to_currency(@vs_mc_disc_trans_fees) %><br>
			<b>Amex Trans Fees: </b><%= number_to_currency(@amex_trans_fees) %><br>
			<b>Amex Trans: </b><%= number_to_currency(@amex_transactions) %><br>
			<b>Total Trans: </b><%= number_to_currency(@total_transactions) %><br>
			<b>VMD Vol: </b><%= number_to_currency(@vs_mc_disc_volume) %>
			</div>
		</div>
		
		<div class="col-sm-12">
			<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, praesentium, accusamus. Consequatur tempora sunt unde voluptas natus neque dolor ad culpa, voluptates odit dignissimos nesciunt ab cupiditate facere impedit nam.</h3>
		</div>

	</div>


</div>

</div>




