<div class="container-fluid">
<div class="text-center">
<h1>My Qualifying Programs</h1>
<br>

<% c = @comparisons.first %>
<% if c.total_program_savings > 1 %>
<%= link_to('Decrease Savings', {:controller => 'comparisons', :action => 'decrease_savings', :prospect_id => @prospect.id, :statement_id => @statement.id}) %>
<% end %>

<% c = @comparisons.first %>
<% p = Program.find_by_id(c.program_id) %>
<% if c.bp_mark_up > p.min_bp_mark_up %>
 || <%= link_to('Increase Savings', {:controller => 'comparisons', :action => 'increase_savings', :prospect_id => @prospect.id, :statement_id => @statement.id}) %>
<% end %>

</div>

<table class="table table-striped table-responsive table-hover table-bordered">
    <thead>
        <tr class="white total">
            <th>Name</th>
            <th>Bonus</th>
            <th>Residual</th>
            <th>Basis Points</th>
            <th>Trans Fee</th>
            <% if @statement.total_fees != 0 %>
            <th>Savings</th>
            <% end %>
            <th>Proposal</th>
        </tr>
    </thead>


<% @comparisons.each do |comparison| %>
<% @program = Program.find_by_id(comparison.program_id) %>

<tbody>
   <tr class="">
     <td><%= @program.name %></td>
       <td class="text-left"><%= number_to_currency(comparison.total_program_bonus) %></td>
       <td class="text-left"><%= number_to_currency(comparison.total_program_residuals) %></td>
       <td><%= number_with_precision(comparison.bp_mark_up, precision: 0) %></td>
       <td><%= number_with_precision(comparison.per_item_fee, precision: 2) %></td>
      <% if comparison.savings_fixed != 0 %>
         <td><%= number_to_currency(comparison.total_program_savings) %></td>
      <% end %>
       <td class="text-left fixed-width-td"><%= link_to('Present', prospect_statement_comparison_path(@prospect, @statement, comparison), :class => "btn btn-primary") %></td>
   </tr>
 </tbody>

 <% end %>
</table>
</div>
