<h1>Comparisons#index</h1>
<p><%= @prospect %></p>
<p><%= @statement %></p>

<h1>Programs</h1>

<% @programs.each do |program| %>

<% @batch_fees = @statement.batches * program.min_per_batch_fee %>
<% @vs_mc_disc_volume = ( @statement.total_vol - @statement.amex_vol ) %>
<% @vs_mc_disc_transactions = ( @vs_mc_disc_volume / @statement.avg_ticket ) %>
<% @total_transactions = ( @statement.total_vol / @statement.avg_ticket ) %>
<% @amex_transactions = ( @statement.amex_vol / @statement.avg_ticket ) %>
<% @vs_mc_disc_mark_up = ( @vs_mc_disc_volume * (program.min_bp_mark_up / 1000 ) ) %>
<% @amex_mark_up = ( @statement.amex_vol * ( program.min_amex_bp_fee / 1000 ) ) %>
<% @vs_mc_disc_trans_fees = ( @vs_mc_disc_transactions * program.min_per_item_fee ) %>
<% @amex_trans_fees = ( @amex_transactions * program.min_amex_per_item_fee ) %>

<p>
<strong>VMD Mark Up</strong>
<%= @vs_mc_disc_mark_up %>
</p>

<p>
<strong>Amex Mark Up</strong>
<%= @amex_mark_up %>
</p>

<p>
<strong>VMD Transaction Fees</strong>
<%= @vs_mc_disc_trans_fees %>
</p>

<p>
<strong>Amex Transaction Fees</strong>
<%= @amex_trans_fees %>
</p>

<p>
<strong>Amex Transactions</strong>
<%= @amex_transactions %>
</p>

<p>
<strong>Total Transactions</strong>
<%= @total_transactions %>
</p>

<p>
<strong>VMD Transactions</strong>
<%= @vs_mc_disc_transactions %>
</p>

<p>
<strong>Batch Fees</strong>
<%= @batch_fees %>
</p>

<p>
<strong>VMD Volume</strong>
<%= @vs_mc_disc_volume %>
</p>

<% end %>  