<h1>Compare Programs</h1>
<p><%= @prospect.business_name %></p>
<p><%= @statement.statement_month %> Statement</p>


<% @programs.each do |program| %>

<% @batch_fees = @statement.batches * program.min_per_batch_fee %>
<% @vs_mc_disc_volume = ( @statement.total_vol - @statement.amex_vol ) %>
<% @vs_mc_disc_transactions = ( @vs_mc_disc_volume / @statement.avg_ticket ) %>
<% @total_transactions = ( @statement.total_vol / @statement.avg_ticket ) %>
<% @amex_transactions = ( @statement.amex_vol / @statement.avg_ticket ) %>
<% @vs_mc_disc_mark_up = ( @vs_mc_disc_volume * (program.min_bp_mark_up / 1000 ) ) %>
<% @amex_mark_up = ( @statement.amex_vol * ( program.min_amex_bp_fee / 1000 ) ) %>
<% @vs_mc_disc_trans_fees = ( @vs_mc_disc_transactions * program.min_per_item_fee ) %>
<% @amex_trans_fees = ( @amex_transactions * program.min_amex_per_item_fee ) %>
<% @avg_access_per_item = (((program.visa_access_per_item * 4) + (program.mc_access_per_item * 4) + (program.disc_access_per_item * 2)) / 10) %>
<% @avg_access_bp = (((program.visa_access_percentage * 4) + (program.mc_access_percentage * 4) + (program.disc_access_percentage * 2)) / 10) %>
<% @access_fees = (@vs_mc_disc_volume * (@avg_access_bp / 1000)) + (@vs_mc_disc_transactions * @avg_access_per_item) %>

<% @debit_fees = (@statement.debit_trans * program.min_pin_debit_per_item_fee) + (@statement.debit_network_fees) %>
    <% if @debit_fees > 0 %>
      <% @debit_fees += program.min_monthly_debit_fee %> 
    <% end %>

<% @total_program_fees = @statement.interchange + @batch_fees + @vs_mc_disc_mark_up + @amex_mark_up + @vs_mc_disc_trans_fees + @amex_trans_fees + @access_fees + program.min_monthly_fees + program.monthly_pci_fee + (program.annual_pci_fee / 12) + @debit_fees %>

<% @batch_costs = @statement.batches * program.per_batch_cost %>


<h2><%= program.name %></h2>
<p>
<strong>Total Fees</strong>
<%= @total_program_fees %>
</p>

<p>
<strong>Total Debit Fees</strong>
<%= @debit_fees %>
</p>

<p>
<strong>Total Access Fees</strong>
<%= @access_fees %>
</p>

<p>
<strong>Avg Access Basis Points</strong>
<%= @avg_access_bp %>
</p>

<p>
<strong>Avg Access Per Item</strong>
<%= @avg_access_per_item %>
</p>

<p>
<strong>VMD Mark Up</strong>
<%= @vs_mc_disc_mark_up %>
</p>

<p>
<strong>Amex Mark Up</strong>
<%= @amex_mark_up %>
</p>

<p>
<strong>VMD Transaction Fees</strong>
<%= @vs_mc_disc_trans_fees %>
</p>

<p>
<strong>Amex Transaction Fees</strong>
<%= @amex_trans_fees %>
</p>

<p>
<strong>Amex Transactions</strong>
<%= @amex_transactions %>
</p>

<p>
<strong>Total Transactions</strong>
<%= @total_transactions %>
</p>

<p>
<strong>VMD Transactions</strong>
<%= @vs_mc_disc_transactions %>
</p>

<p>
<strong>Batch Fees</strong>
<%= @batch_fees %>
</p>

<p>
<strong>VMD Volume</strong>
<%= @vs_mc_disc_volume %>
</p>

<% end %>  