<div class="text-center">
<h1>Program Comparisons</h1>
<br>
</div>

<% @programs.each do |program| %>

<% @batch_fees = @statement.batches * program.min_per_batch_fee %>
<% @total_transactions = ( @statement.total_vol / @statement.avg_ticket ) %>
<% @vs_mc_disc_mark_up = ( @statement.vmd_vol * (program.min_bp_mark_up / 10000 ) ) %>
<% @amex_mark_up = ( @statement.amex_vol * ( program.min_amex_bp_fee / 10000 ) ) %>
<% @vs_mc_disc_trans_fees = ( @statement.vmd_trans * program.min_per_item_fee ) %>
<% @amex_trans_fees = ( @statement.amex_trans * program.min_amex_per_item_fee ) %>
<% @vs_access_fees = ((program.visa_access_per_item * @statement.vs_transactions) + ((program.visa_access_percentage / 10000) * @statement.vs_volume)) %>
<% @mc_access_fees = ((program.mc_access_per_item * @statement.mc_transactions) + ((program.mc_access_percentage / 10000) * @statement.mc_volume)) %>
<% @ds_access_fees = ((program.disc_access_per_item * @statement.ds_transactions) + ((program.disc_access_percentage / 10000) * @statement.ds_volume)) %>
<% @access_fees = (@vs_access_fees + @mc_access_fees + @ds_access_fees) %>

<% @debit_fees = (@statement.debit_trans * program.min_pin_debit_per_item_fee) + (@statement.debit_network_fees) %>
    <% if @debit_fees > 0 %>
      <% @debit_fees += program.min_monthly_debit_fee %>
    <% end %>

<% @total_program_fees = @statement.interchange + @batch_fees + @vs_mc_disc_mark_up + @amex_mark_up + @vs_mc_disc_trans_fees + @amex_trans_fees + @access_fees + program.min_monthly_fees + program.monthly_pci_fee + (program.annual_pci_fee / 12) + @debit_fees %>

<% @batch_costs = @statement.batches * program.per_batch_cost %>
<% @bin_costs = @statement.vmd_vol * (program.bin_sponsorship / 10000) %>
<% @vs_mc_disc_per_item_costs = @statement.vmd_trans * program.per_item_cost  %>
<% @amex_per_item_costs = @statement.amex_trans * program.amex_per_item_cost %>
<% @amex_bp_costs = @statement.amex_vol * (program.amex_per_item_cost / 10000) %>
<% @pin_debit_costs = @statement.debit_trans * program.pin_debit_per_item_cost %>
  <% if @debit_fees > 0 %>
    <% @pin_debit_costs += program.monthly_debit_fee_cost %>
  <% end %>

   <%  @total_program_costs = @batch_costs + @bin_costs + @vs_mc_disc_per_item_costs + @amex_per_item_costs + @amex_bp_costs + @pin_debit_costs + program.monthly_fee_costs + program.monthly_pci_cost + @statement.interchange %>  


<div class="container text-center">
<div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
<div class="panel panel-primary">

	<div class="panel-heading">
		<h3 class="panel-title">
			<b><%= program.name %></b>
		</h3>
	</div>

	<div class="panel-body">
		<div class="col-xs-4 col-sm-4">
			<div class="text-left">
			<b>Current Fees: </b><%= number_to_currency(@statement.total_fees) %><br>
			<b>Program Fees: </b><%= number_to_currency(@total_program_fees) %><br>
			<b>Schedule A: </b><%= number_to_currency(@total_program_costs) %><br>
			<b>Access Fees: </b><%= number_to_currency(@access_fees) %><br>
			<b>Debit Fees: </b><%= number_to_currency(@debit_fees) %><br>
			<b>Batch Fees: </b><%= number_to_currency(@batch_fees) %>
			<b>Program Costs: </b><%= number_to_currency(@total_program_costs) %>
			</div>
		</div>

		<div class="col-xs-4 col-sm-4">
			<div class="text-center">
			<b>VMD Per Item: </b><%= number_to_currency(@vs_mc_disc_per_item_costs) %><br>
			<b>Debit Costs: </b><%= number_to_currency(@pin_debit_costs) %><br>
			<b>Amex Per Item: </b><%= number_to_currency(@amex_per_item_costs) %><br>
			<b>Visa Access: </b><%= number_to_currency(@vs_access_fees) %><br>
			<b>MC Access: </b><%= number_to_currency(@mc_access_fees) %><br>
			<b>Disc Access: </b><%= number_to_currency(@ds_access_fees) %><br>
			<b>VMD Mark-Up: </b><%= number_to_currency(@vs_mc_disc_mark_up) %><br>
			<b>Amex Mark Up: </b><%= number_to_currency(@amex_mark_up) %><br>
			<b>VMD Trans: </b><%= number_to_currency(@statement.vmd_trans) %>
			</div>
		</div>

		<div class="col-xs-4 col-sm-4">
			<div class="text-right">
			<b>Amex BP Cost: </b><%= number_to_currency(@amex_bp_costs) %><br>
			<b>Program Fees: </b><%= number_to_currency(@total_program_fees) %><br>
			<b>Bin Costs: </b><%= number_to_currency(@bin_costs) %><br>
			<b>VMD Trans Fees: </b><%= number_to_currency(@vs_mc_disc_trans_fees) %><br>
			<b>Amex Trans Fees: </b><%= number_to_currency(@amex_trans_fees) %><br>
			<b>Amex Trans: </b><%= number_to_currency(@statement.amex_trans) %><br>
			<b>Total Trans: </b><%= number_to_currency(@total_transactions) %><br>
			<b>VMD Vol: </b><%= number_to_currency(@statement.vmd_vol) %>
			</div>

		</div>
		<div class="clearfix visible-xs"></div>
		<div class="col-sm-12">
		<hr class="programs-hr">
		<h3 class="bold-footer"><b>Bonus:</b> <%= number_to_currency(program.up_front_bonus) %></h3>
		<% if @statement.total_fees > 0 %>
		<% @total_savings = @statement.total_fees - @total_program_fees %>
		<h3 class="bold-footer"><b>Savings:</b> <%= number_to_currency(@total_savings) %></h3>
		<% end %>
		<% @total_residual = (@total_program_fees - @total_program_costs) * (program.residual_split / 100) %>
		<h3 class="bold-footer"><b>Residual: </b><%= number_to_currency(@total_residual) %></h3>
		</div>

	</div>


</div>

</div>
</div>
<br>

<% end %>
