<h3 class="text-center"><b>Program Summary</b></h3>
<div class="col-sm-3 col-sm-offset-8 col-md-offset-7 col-lg-offset-6"><span class="pull-right"><%= link_to "Pricing Wizard", edit_prospect_statement_comparison_path(@prospect, @statement, @comparison), class: 'btn btn-primary' %></span></div>
  <div class="clearfix"></div>
<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
<table class="table table-striped table-bordered table-responsive">
  <tr class="total white">
  <th>Type</th>
  <th>Volume</th>
  <th>Items</th>
  <th>Fees</th>
</tr>
<tr>
  <td>VS</td>
  <td><%= number_to_currency(@statement.vs_volume) %></td>
  <td><%= number_with_precision(@statement.vs_transactions, precision: 0) %></td>
  <% @vs_access_fees = (@comparison.vs_access_per_item_fees) + (@comparison.vs_access_percentage_fees) %>
  <% @total_visa_fees = (@statement.vs_fees + @comparison.vs_trans_fees + @vs_access_fees + @comparison.vs_mark_up_fees) %> 
  <td><%= number_to_currency(@total_visa_fees) %></td>
</tr>
<tr>
  <td>MC</td>
  <td><%= number_to_currency(@statement.mc_volume) %></td>
  <td><%= number_with_precision(@statement.mc_transactions, precision: 0) %></td>
  <% @mc_access_fees = (@comparison.mc_access_per_item_fees) + (@comparison.mc_access_percentage_fees) %>
  <% @total_mc_fees = (@statement.mc_fees + @comparison.mc_trans_fees + @mc_access_fees + @comparison.mc_mark_up_fees) %> 
  <td><%= number_to_currency(@total_mc_fees) %></td>
</tr>

<tr>
  <td>DS</td>
  <td><%= number_to_currency(@statement.ds_volume) %></td>
  <td><%= number_with_precision(@statement.ds_transactions, precision: 0) %></td>
  <% @ds_access_fees = (@comparison.ds_access_per_item_fees) + (@comparison.ds_access_percentage_fees) %>
  <% @total_ds_fees = (@statement.ds_fees + @comparison.ds_trans_fees + @ds_access_fees + @comparison.ds_mark_up_fees) %>
  <td><%= number_to_currency(@total_ds_fees) %></td>
</tr>

<tr>
  <td>Debit</td>
  <td><%= number_to_currency(@statement.debit_vol) %></td>
  <td><%= number_with_precision(@statement.debit_trans, precision: 0) %></td>
  <% @total_debit_fees = (@statement.debit_network_fees + (@statement.debit_trans * @program.min_pin_debit_per_item_fee)) %>
  <td><%= number_to_currency(@total_debit_fees) %></td>
</tr>

<tr class="bold-line">
  <td>AMEX</td>
  <td><%= number_to_currency(@statement.amex_vol) %></td>
  <td><%= number_with_precision(@statement.amex_trans, precision: 0) %></td>
  <% @amex_mark_up = ( @statement.amex_vol * (@program.min_amex_bp_fee / 10000 ) ) %>
  <% @total_amex_fees = (@statement.amex_interchange + (@statement.amex_trans * @program.min_amex_per_item_fee) + @amex_mark_up) %> 
  <td><%= number_to_currency(@total_amex_fees) %></td>
</tr>

<tr class="bold-font">
  <td class="grey-back">Total</td>
  <% @total = @statement.total_vol %>
  <% @transactions = @statement.vs_transactions + @statement.mc_transactions + @statement.ds_transactions + @statement.amex_trans + @statement.debit_trans %>
  <% @fees = @total_visa_fees + @total_mc_fees + @total_ds_fees + @program.min_monthly_fees + @program.monthly_pci_fee + (@program.annual_pci_fee / 12) + @comparison.batch_fees + @total_debit_fees + @total_amex_fees %>
  <td class="grey-back" colspan="1"><%= number_to_currency(@total) %></td>
  <td class="grey-back" colspan="1"><%= number_with_precision(@transactions, precision: 0) %></td>
    <td class="grey-back" colspan="1"><%= number_to_currency(@fees) %></td>
</tr>
</table>
</div>

<% if @statement.total_fees > 0 %>
<div class="clearfix"></div>
<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
<table class="table table-striped table-bordered table-responsive">
   <tr class="total white">
     <th>Monthly Savings</th>
     <th>Annual Savings</th>
     <th>3 Year Savings</th>
   </tr>
  <tr>
    <% @annual_savings = ((@statement.total_fees - @fees) * 12) %>
    <% @monthly_savings = @statement.total_fees - @fees %>
    <% @three_yr_savings = (@statement.total_fees - @fees) * 36 %>
    <td><b><%= number_to_currency(@monthly_savings) %></b></td>
    <td><b><%= number_to_currency(@annual_savings) %></b></td>
    <td><b><%= number_to_currency(@three_yr_savings) %></b></td>
  </tr>
</table>
</div>
<% end %>

<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

<table class="table table-striped table-bordered table-responsive">
   <tr class="total white">
     <th>Description</th>
     <th>Volume</th>
     <th>Fees</th>
   </tr>

<% @inttableitems = Inttableitem.where(statement_id: @statement.id) %>
<% @inttableitems.take(15).each do |item| %>
  <% @inttype = Inttype.find_by_id(item.inttype_id) %>
  <tr>
    <td><%=truncate(@inttype.description, :length => 20) %></td>
    <td><%= number_to_currency(item.volume) %></td>
    <td><%=  number_to_currency(item.costs) %></td>
  </tr>
<% end %>
</table>

</div>