<h3 class="text-center"><b>Savings Summary</b></h3>
<div class="container-fluid">

<center>
<div class="container">
<div class="col-md-10 col-md-offset-1">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab2" style="padding: 7px !important;" class="black">Detail</a></li>
        <li class=""><a data-toggle="tab" href="#interchange" style="padding: 7px !important;" class="black">Summary</a></li>
    </ul>
    </div>


    </div>
  </center>
<br>

<div class="tab-content">
<div id="interchange" class="tab-pane fade">
<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 hideme2">
<%= link_to(content_tag(:button, '< Programs', :class => 'btn btn-primary pull-left'), prospect_statement_comparisons_path(@prospect, @statement)) %>
<span class="pull-right hideme" style=""><%= link_to("PDF", savings_summary_prospect_statement_comparison_path(@prospect, @statement, @comparison, format: "pdf"), class: 'btn btn-primary', style: 'margin-right: 5px !important;' ) %><%= link_to "Pricing Wizard", edit_prospect_statement_comparison_path(@prospect, @statement, @comparison), class: 'btn btn-primary pull-right' %></span>

<% if @statement.total_fees > 0 %>
<div class="clearfix"></div>
<table class="table table-striped table-bordered table-responsive">
   <tr class="total white">
     <th>Monthly Savings</th>
     <th>Annual Savings</th>
     <th>3 Year Savings</th>
   </tr>
  <tr>
    <td><b><%= number_to_currency(@comparison.total_program_savings) %></b></td>
    <td><b><%= number_to_currency(@comparison.total_program_savings * 12) %></b></td>
    <td><b><%= number_to_currency(@comparison.total_program_savings * 36) %></b></td>
  </tr>
</table>
<% end %>
<h4 class="text-center"><b>Card Type Summary</b></h4>
<table class="table table-striped table-bordered table-responsive">
  <tr class="total white">
  <th>Type</th>
  <th>Items</th>
  <th>Volume</th>
  <th>Fees</th>
</tr>
<tr>
  <td>VS</td>
  <td><%= number_with_precision(@statement.vs_transactions, precision: 0) %></td>
  <td><%= number_to_currency(@statement.vs_volume) %></td>
  <% @vs_access_fees = (@comparison.vs_access_per_item_fees) + (@comparison.vs_access_percentage_fees) %>
  <% @total_visa_fees = (@statement.vs_fees + @comparison.vs_trans_fees + @vs_access_fees + @comparison.vs_mark_up_fees) %> 
  <td><%= number_to_currency(@total_visa_fees) %></td>
</tr>
<tr>
  <td>MC</td>
  <td><%= number_with_precision(@statement.mc_transactions, precision: 0) %></td>
  <td><%= number_to_currency(@statement.mc_volume) %></td>
  <% @mc_access_fees = (@comparison.mc_access_per_item_fees) + (@comparison.mc_access_percentage_fees) %>
  <% @total_mc_fees = (@statement.mc_fees + @comparison.mc_trans_fees + @mc_access_fees + @comparison.mc_mark_up_fees) %> 
  <td><%= number_to_currency(@total_mc_fees) %></td>
</tr>

<tr>
  <td>DS</td>
  <td><%= number_with_precision(@statement.ds_transactions, precision: 0) %></td>
  <td><%= number_to_currency(@statement.ds_volume) %></td>
  <% @ds_access_fees = (@comparison.ds_access_per_item_fees) + (@comparison.ds_access_percentage_fees) %>
  <% @total_ds_fees = (@statement.ds_fees + @comparison.ds_trans_fees + @ds_access_fees + @comparison.ds_mark_up_fees) %>
  <td><%= number_to_currency(@total_ds_fees) %></td>
</tr>
<% if @statement.debit_vol > 0 %>
<% @total_debit_fees = (@statement.debit_network_fees + (@statement.debit_trans * @comparison.pin_debit_per_item_fee)) %>
<% else %>
<% @total_debit_fees = 0 %>
<% end %>
<% if @statement.debit_vol > 0 %>
<tr>
  <td>Debit</td>
  <td><%= number_with_precision(@statement.debit_trans, precision: 0) %></td>
  <td><%= number_to_currency(@statement.debit_vol) %></td>
  <td><%= number_to_currency(@total_debit_fees) %></td>
</tr>
<% end %>
 <% if @statement.amex_vol > 0 %>
 <% @amex_mark_up = ( @statement.amex_vol * (@comparison.amex_bp_mark_up.to_f / 10000 ) ) %>
  <% @total_amex_fees = (@comparison.amex_total_opt_blue + (@statement.amex_trans * @comparison.amex_per_item_fee) + @amex_mark_up) %>
 <% else %>
 <% @amex_mark_up = 0 %>
 <% @total_amex_fees = 0 %>
 <% end %>
<% if @statement.amex_vol > 0 %>
<tr>
  <td>AMEX</td>
  <td><%= number_with_precision(@statement.amex_trans, precision: 0) %></td>
  <td><%= number_to_currency(@statement.amex_vol) %></td> 
  <td><%= number_to_currency(@total_amex_fees) %></td>
</tr>
<% end %>
<tr>
  <td>Other Fees</td>
  <td><center>-</center></td>
  <td><center>-</center></td>
  <% @other_fees = ( @comparison.total_program_fees - (@total_amex_fees + @total_debit_fees + @total_visa_fees + @total_mc_fees + @total_ds_fees)) %>
   
  <td><%= number_to_currency(@other_fees) %></td>
</tr>
<tr class="bold-font bold-line-top">
  <td class="grey-back">Total</td>
  <% @total = @statement.total_vol %>
  <% @transactions = @statement.vs_transactions + @statement.mc_transactions + @statement.ds_transactions + @statement.amex_trans + @statement.debit_trans %>
  <td class="grey-back" colspan="1"><%= number_with_precision(@transactions, precision: 0) %></td>
  <td class="grey-back" colspan="1"><%= number_to_currency(@total) %></td>
  <td class="grey-back" colspan="1"><%= number_to_currency(@comparison.total_program_fees) %></td>
</tr>
</table>

</div>
</div>

<div id="tab2" class="tab-pane fade in active">

<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 hideme2">
<%= link_to(content_tag(:button, '< Programs', :class => 'btn btn-primary pull-left'), prospect_statement_comparisons_path(@prospect, @statement)) %>
<span class="pull-right hideme" style=""><%= link_to("PDF", savings_detail_prospect_statement_comparison_path(@prospect, @statement, @comparison, format: "pdf"), class: 'btn btn-primary', style: 'margin-right: 5px !important;' ) %>  <%= link_to "Pricing Wizard", edit_prospect_statement_comparison_path(@prospect, @statement, @comparison), class: 'btn btn-primary pull-right' %></span>

<% if @statement.total_fees > 0 %>
<div class="clearfix"></div>
<table class="table table-striped table-bordered table-responsive">
   <tr class="total white">
     <th>Monthly Savings</th>
     <th>Annual Savings</th>
     <th>3 Year Savings</th>
   </tr>
  <tr>
    <td><b><%= number_to_currency(@comparison.total_program_savings) %></b></td>
    <td><b><%= number_to_currency(@comparison.total_program_savings * 12) %></b></td>
    <td><b><%= number_to_currency(@comparison.total_program_savings * 36) %></b></td>
  </tr>
</table>
<% end %>
<h4 class="text-center"><b>Card Type Summary</b></h4>
<table class="table table-striped table-bordered table-responsive">
  <tr class="total white">
  <th>Type</th>
  <th>Items</th>
  <th>Volume</th>
  <th>Costs</th>
  <th>Access</th>
  <th>Fees</th>
</tr>
<tr>
  <td>VS</td>
  <td><%= number_with_precision(@statement.vs_transactions, precision: 0) %></td>
  <td><%= number_to_currency(@statement.vs_volume) %></td>
  <td><%= number_to_currency(@statement.vs_fees) %></td>
  <td><%= number_to_currency(@comparison.total_vs_access_fees) %></td>
  <% @vs_access_fees = (@comparison.vs_access_per_item_fees) + (@comparison.vs_access_percentage_fees) %>
  <% @total_visa_fees = (@statement.vs_fees + @comparison.vs_trans_fees + @vs_access_fees + @comparison.vs_mark_up_fees) %> 
  <td><%= number_to_currency(@total_visa_fees) %></td>
</tr>
<tr>
  <td>MC</td>
  <td><%= number_with_precision(@statement.mc_transactions, precision: 0) %></td>
  <td><%= number_to_currency(@statement.mc_volume) %></td>
  <td><%= number_to_currency(@statement.mc_fees) %></td>
  <td><%= number_to_currency(@comparison.total_mc_access_fees) %></td>
  <% @mc_access_fees = (@comparison.mc_access_per_item_fees) + (@comparison.mc_access_percentage_fees) %>
  <% @total_mc_fees = (@statement.mc_fees + @comparison.mc_trans_fees + @mc_access_fees + @comparison.mc_mark_up_fees) %> 
  <td><%= number_to_currency(@total_mc_fees) %></td>
</tr>

<tr>
  <td>DS</td>
  <td><%= number_with_precision(@statement.ds_transactions, precision: 0) %></td>
  <td><%= number_to_currency(@statement.ds_volume) %></td>
  <td><%= number_to_currency(@statement.ds_fees) %></td>
  <td><%= number_to_currency(@comparison.total_ds_access_fees) %></td>
  <% @ds_access_fees = (@comparison.ds_access_per_item_fees) + (@comparison.ds_access_percentage_fees) %>
  <% @total_ds_fees = (@statement.ds_fees + @comparison.ds_trans_fees + @ds_access_fees + @comparison.ds_mark_up_fees) %>
  <td><%= number_to_currency(@total_ds_fees) %></td>
</tr>
<% if @statement.debit_vol > 0 %>
<% @total_debit_fees = (@statement.debit_network_fees + (@statement.debit_trans * @comparison.pin_debit_per_item_fee)) %>
<% else %>
<% @total_debit_fees = 0 %>
<% end %>
<% if @statement.debit_vol > 0 %>
<tr>
  <td>Debit</td>
  <td><%= number_with_precision(@statement.debit_trans, precision: 0) %></td>
  <td><%= number_to_currency(@statement.debit_vol) %></td>
  <td><%= number_to_currency(@statement.debit_network_fees) %></td>
  <td>N/A</td>
  <td><%= number_to_currency(@total_debit_fees) %></td>
</tr>
<% end %>
  <% if @statement.amex_vol > 0 %>
  <% @amex_mark_up = ( @statement.amex_vol * (@comparison.amex_bp_mark_up.to_f / 10000 ) ) %>
  <% @total_amex_fees = (@statement.amex_interchange + (@statement.amex_trans * @comparison.amex_per_item_fee) + @amex_mark_up) %>
  <% else %>
  <% @amex_mark_up = 0 %>
  <% @total_amex_fees = 0 %>
  <% end %>
<% if @statement.amex_vol > 0 %>
<tr>
  <td>AMEX</td>
  <td><%= number_with_precision(@statement.amex_trans, precision: 0) %></td>
  <td><%= number_to_currency(@statement.amex_vol) %></td>
  <td><%= number_to_currency(@statement.amex_interchange) %></td>
  <td>N/A</td> 
  <td><%= number_to_currency(@total_amex_fees) %></td>
</tr>
<% end %>
<tr>
  <td>Other Fees</td>
  <td><center>-</center></td>
  <td><center>-</center></td>
  <td><center>-</center></td>
  <td><center>-</center></td>
  
  <td><%= number_to_currency(@other_fees) %></td>
</tr>

<tr class="bold-font bold-line-top">
  <td class="grey-back">Total</td>
  <% @transactions = @statement.vs_transactions + @statement.mc_transactions + @statement.ds_transactions + @statement.amex_trans + @statement.debit_trans %>
  <% @total_cost = @statement.vs_fees + @statement.mc_fees + @statement.ds_fees + @statement.debit_network_fees + @statement.amex_interchange %>
  <% @total_access_fees = @comparison.total_vs_access_fees + @comparison.total_mc_access_fees + @comparison.total_ds_access_fees %>
  <td class="grey-back" colspan="1"><%= number_with_precision(@transactions, precision: 0) %></td>
  <td class="grey-back" colspan="1"><%= number_to_currency(@total) %></td>
  <td><%= number_to_currency(@total_cost) %></td>
  <td><%= number_to_currency(@total_access_fees) %></td>
  <td class="grey-back" colspan="1"><%= number_to_currency(@comparison.total_program_fees) %></td>
</tr>
</table>

</div>

<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
<div class="col-xs-12 no-padding" style="padding-right: 10px !important;"">

    <h4 class="text-center"><b>Costs / Fees Summary</b></h4>  
    <table class="table table-responsive table-bordered table-striped">
    <tr class="total white">
      <th>Description</th>
      <th>Vol</th>
      <th>Qty</th>
      <th>Per Item</th>
      <th>Percent</th>
      <th>Amount</th>
    </tr>
    <tr>
      <td>VMD Fees</td>
      <td><%= number_to_currency(@statement.vmd_vol) %></td>
      <td><%= number_with_precision(@statement.vmd_trans, precision: 0) %></td>
      <td><%= number_to_currency(@comparison.per_item_fee) %></td>
      <td><%= number_with_precision((@comparison.bp_mark_up.to_f / 100), precision: 2) %>%</td>
      <td class="text-center"><%= number_to_currency((@comparison.total_vmd_trans_fees + @comparison.total_vmd_mark_up_fees)) %></td>
    </tr>
    <tr>
      <td>VMD Interchange</td>
      <td><%= number_to_currency(@statement.vmd_vol) %></td>
      <td><%= number_with_precision(@statement.vmd_trans, precision: 0) %></td>
      <td>Varies</td>
      <td>Varies</td>
      <td class="text-center"><%= number_to_currency(@statement.interchange) %></td>
    </tr>
    <% if @statement.amex_vol > 0 %>
    <tr>
      <td>AMEX Fees</td>
      <td><%= number_to_currency(@statement.amex_vol) %></td>
      <td><%= number_with_precision(@statement.amex_trans, precision: 0) %></td>
      <td><%= number_to_currency(@comparison.amex_per_item_fee) %></td>
      <td><%= number_with_precision((@comparison.amex_bp_mark_up.to_f / 100), precision: 2) %>%</td>
      <td class="text-center"><%= number_to_currency(@comparison.amex_mark_up_fees + @comparison.amex_trans_fees) %></td>
    </tr>
    <tr>
      <td>AMEX Opt Blue</td>
      <td><%= number_to_currency(@statement.amex_vol) %></td>
      <td><%= number_with_precision(@statement.amex_trans, precision: 0) %></td>
      <td><%= number_to_currency(@comparison.amex_per_item_cost) %></td>
      <td><%= number_with_precision((@comparison.amex_percentage_cost), precision: 2) %>%</td>
      <td class="text-center"><%= number_to_currency(@comparison.amex_total_opt_blue) %></td>
    </tr>
    <% end %>
    <% if @statement.debit_vol > 0 %>
    <tr>
      <td>Debit Fees</td>
      <td><%= number_to_currency(@statement.debit_vol) %></td>
      <td><%= number_with_precision(@statement.debit_trans, precision: 0) %></td>
      <td><%= number_to_currency(@comparison.pin_debit_per_item_fee) %></td>
      <td>0%</td>
      <td class="text-center"><%= number_to_currency(@statement.debit_trans * @comparison.pin_debit_per_item_fee) %></td>
    </tr>
    <tr>
      <td>Debit Network</td>
      <td><%= number_to_currency(@statement.debit_vol) %></td>
      <td><%= number_with_precision(@statement.debit_trans, precision: 0) %></td>
      <td>Varies</td>
      <td>Varies</td>
      <td class="text-center"><%= number_to_currency(@statement.debit_network_fees) %></td>
    </tr>
    <% end %>
  </table>

</div>
<div class="col-xs-12 no-padding" style="padding-right: 10px !important;"">

    <h4 class="text-center"><b>Other Fees Summary</b></h4>    
    <table class="table table-responsive table-bordered table-striped">
    <tr class="total white">
      <th>Description</th>
      <th>Type</th>
      <th>Qty</th>
      <th>Cost</th>
      <th>Amount</th>
    </tr>
    <% if @comparison.monthly_fees > 0 %>
    <tr>
      <td>Statement Fee</td>
      <td>Monthly</td>
      <td>1</td>
      <td><%= number_to_currency(@comparison.monthly_fees) %></td>
      <td class="text-center"><%= number_to_currency(@comparison.monthly_fees) %></td>
    </tr>
    <% end %>
    <% if @statement.debit_vol > 0 && @comparison.monthly_debit_fee > 0 %>
    <tr>
      <td>Pin Debit Fee</td>
      <td>Monthly</td>
      <td>1</td>
      <td><%= number_to_currency(@comparison.monthly_debit_fee) %></td>
      <td class="text-center"><%= number_to_currency(@comparison.monthly_debit_fee) %></td>
    </tr>
    <% end %>
    <% if @comparison.monthly_pci_fees > 0 %>
    <tr>
      <td>PCI Fee</td>
      <td>Monthly</td>
      <td>1</td>
      <td><%= number_to_currency(@comparison.monthly_pci_fees) %></td>
      <td class="text-center"><%= number_to_currency(@comparison.monthly_pci_fees) %></td>
    </tr>
    <% end %>
    <% @type = CustomFieldType.find_by_slug_string("monthly_fee") %>
    <% @fields = @program.custom_fields.where(custom_field_type_id: @type.id) %>
    <% if @fields != nil %>
      <% @fields.each do |field| %>
      <tr>
        <td><%= field.name %></td>
        <td><%= field.custom_field_type.name %></td>
        <td>1</td>
        <td><%= number_to_currency(field.amount) %></td>
        <td class="text-center"><%= number_to_currency(field.amount) %></td>
      </tr>
    <% end %>
    <% end %>
    <% @type = CustomFieldType.find_by_slug_string("vmd_per_item") %>
    <% @fields = @program.custom_fields.where(custom_field_type_id: @type.id) %>
    <% if @fields != nil %>
      <% @fields.each do |field| %>
      <tr>
        <td><%= field.name %></td>
        <td><%= field.custom_field_type.name %></td>
        <td><%= number_with_precision(@statement.vmd_trans, precision: 0) %></td>
        <td><%= number_to_currency(field.amount) %></td>
        <td class="text-center"><%= number_to_currency(@statement.vmd_trans * field.amount) %></td>
      </tr>
    <% end %>
    <% end %>
    <% @type = CustomFieldType.find_by_slug_string("amex_per_item") %>
    <% @fields = @program.custom_fields.where(custom_field_type_id: @type.id) %>
    <% if @fields != nil %>
      <% @fields.each do |field| %>
      <tr>
        <td><%= field.name %></td>
        <td><%= field.custom_field_type.name %></td>
        <td><%= number_with_precision(@statement.amex_trans, precision: 0) %></td>
        <td><%= number_to_currency(field.amount) %></td>
        <td class="text-center"><%= number_to_currency(@statement.amex_trans * field.amount) %></td>
      </tr>
    <% end %>
    <% end %>
    <% @type = CustomFieldType.find_by_slug_string("pin_per_item") %>
    <% @fields = @program.custom_fields.where(custom_field_type_id: @type.id) %>
    <% if @fields != nil %>
      <% @fields.each do |field| %>
      <tr>
        <td><%= field.name %></td>
        <td><%= field.custom_field_type.name %></td>
        <td><%= number_with_precision(@statement.debit_trans, precision: 0) %></td>
        <td><%= number_to_currency(field.amount) %></td>
        <td class="text-center"><%= number_to_currency(@statement.debit_trans * field.amount) %></td>
      </tr>
    <% end %>
    <% end %>
    <% @type = CustomFieldType.find_by_slug_string("vmd_volume_bp") %>
    <% @fields = @program.custom_fields.where(custom_field_type_id: @type.id) %>
    <% if @fields != nil %>
      <% @fields.each do |field| %>
      <tr>
        <td><%= field.name %></td>
        <td><%= field.custom_field_type.name %></td>
        <td><%= number_to_currency(@statement.vmd_vol) %></td>
        <td><%= number_with_precision(field.amount, precision: 0) %> BP</td>
        <td class="text-center"><%= number_to_currency(@statement.vmd_vol * (field.amount / 10000)) %></td>
      </tr>
    <% end %>
    <% end %>
    <% @type = CustomFieldType.find_by_slug_string("pin_volume_bp") %>
    <% @fields = @program.custom_fields.where(custom_field_type_id: @type.id) %>
    <% if @fields != nil %>
      <% @fields.each do |field| %>
      <tr>
        <td><%= field.name %></td>
        <td><%= field.custom_field_type.name %></td>
        <td><%= number_to_currency(@statement.debit_vol) %></td>
        <td><%= number_with_precision(field.amount, precision: 0) %> BP</td>
        <td class="text-center"><%= number_to_currency(@statement.debit_vol * (field.amount / 10000)) %></td>
      </tr>
    <% end %>
    <% end %>
    <% @type = CustomFieldType.find_by_slug_string("amex_volume_bp") %>
    <% @fields = @program.custom_fields.where(custom_field_type_id: @type.id) %>
    <% if @fields != nil %>
      <% @fields.each do |field| %>
      <tr>
        <td><%= field.name %></td>
        <td><%= field.custom_field_type.name %></td>
        <td><%= number_to_currency(@statement.amex_vol) %></td>
        <td><%= number_with_precision(field.amount, precision: 0) %> BP</td>
        <td class="text-center"><%= number_to_currency(@statement.amex_vol * (field.amount / 10000)) %></td>
      </tr>
    <% end %>
    <% end %>
    <tr>
      <td>Settlement Fees</td>
      <td>Per Batch</td>
      <td><%= @statement.batches %></td>
      <td><%= number_to_currency(@comparison.per_batch_fee) %></td>
      <td class="text-center"><%= number_to_currency(@comparison.batch_fees) %></td>
    </tr>
  </table>

<% @one_time_fees_totals = ( @comparison.custom_one_time_fee + @comparison.annual_pci_fee ) %> 
<% if @one_time_fees_totals > 0 %>
  <h4 class="text-center"><b>One Time Fees Summary</b></h4>    
  <table class="table table-responsive table-bordered table-striped">
    <tr class="total white">
      <th>Description</th>
      <th>Type</th>
      <th>Qty</th>
      <th>Cost</th>
      <th>Amount</th>
    </tr>
    <% if @comparison.annual_pci_fee > 0 %>
    <tr>
      <td>Annual Fee</td>
      <td>Annual</td>
      <td>1</td>
      <td><%= number_to_currency(@comparison.annual_pci_fee) %></td>
      <td class="text-center"><%= number_to_currency(@comparison.annual_pci_fee) %></td>
    </tr>
    <% end %>
    <% @type = CustomFieldType.find_by_slug_string("annual_fee") %>
    <% @fields = @program.custom_fields.where(custom_field_type_id: @type.id) %>
    <% if @fields != nil %>
      <% @fields.each do |field| %>
      <tr>
        <td><%= field.name %></td>
        <td><%= field.custom_field_type.name %></td>
        <td>1</td>
        <td><%= number_to_currency(field.amount) %></td>
        <td class="text-center"><%= number_to_currency(field.amount) %></td>
      </tr>
    <% end %>
    <% end %>
    <% if @comparison.application_fee > 0 %>
    <tr>
      <td>Application Fee</td>
      <td>One Time</td>
      <td>1</td>
      <td><%= number_to_currency(@comparison.application_fee) %></td>
      <td class="text-center"><%= number_to_currency(@comparison.application_fee) %></td>
    </tr>
    <% end %>
    <% @type = CustomFieldType.find_by_slug_string("one_time_fee") %>
    <% @fields = @program.custom_fields.where(custom_field_type_id: @type.id) %>
    <% if @fields != nil %>
      <% @fields.each do |field| %>
      <tr>
        <td><%= field.name %></td>
        <td><%= field.custom_field_type.name %></td>
        <td>1</td>
        <td><%= number_to_currency(field.amount) %></td>
        <td class="text-center"><%= number_to_currency(field.amount) %></td>
      </tr>
    <% end %>
    <% end %>
    </table>
    <% end %>

</div>
</div>

</div>

</div>

</div>