<%= div_for(task) do %>
	<div class="clearfix delete">
		<div class="">
		<div class="btn-group pull-right">
				<%= link_to [@prospect, task], method: :delete, :class => 'delete-task', :remote => true do %>
				    <i class="fa fa-trash big-fa black" aria-hidden="true"></i>
				<% end %>
				<% if ticket.important == false %>
				<%= link_to({:controller => 'tasks', :action => 'mark_complete', :id => task.id}, class: '') do %>
					<i class="fa fa-square-o black" style="margin-top: 5px !important;" aria-hidden="true"></i>
				<% end -%>
			<% else %>
				<%= link_to({:controller => 'tasks', :action => 'mark_uncomplete', :id => task.id}, class: '') do %>
					<i class="fa fa-check-square-o black" style="margin-top: 5px !important;" aria-hidden="true"></i>
				<% end -%>
			<% end -%>
		</div>
		<p class="text-left no-margin-bottom"><small class="text-capitalize"><strong><%= time_ago_in_words(task.created_at) %> Ago</strong></small></p>
			<p class="text-left"><%= task.body %><span class="pull-right"><%= task.finish_date.strftime("%m/%d/%Y") %></span></p>

		</div>
	</div>
<% end %>
