<br>
<div class="container-fluid">

<h2 class="bold"><%= @users.count %> Users</h2>	

<table class="table table-hover table-bordered">
	<thead>
		<tr class="total white">
			<th>ID</th>
			<th>Email</th>
			<th>Prospects</th>
			<th>Statements</th>
			<th>Programs</th>
			<th>Created</th>
			<th>Subscribed</th>
			<th colspan="2" style="min-width: 280px !important;">Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>

			<% date = user.created_at %>
			<% date = date.to_s[0,10] %>
			<% date = date.split("-") %>
			<% timeyear = date[0] %>
			<% timemonth = date[1] %>
			<% timeday = date[2] %>
			<% @user_created_at = "#{timemonth}/#{timeday}/#{timeyear}" %>

			<tr>
				<td><%= user.id %></td>
				<td><%= link_to(user.email, {:controller => 'admin_dashboard', :action => 'show_user', :id => user.id}, class: 'black bold')  %></td>
				<td><%= user.prospects.count %></td>
				<% @statements = 0 %>
				<% user.prospects.each do |p| %>
				<% @statements += p.statements.count %>
				<% end %>
				<td><%= @statements %></td>
				<% @personal_programs = Programuser.where(user_id: user.id) %>
				<% @count = 0 %>
				<% @personal_programs.each do |p| %>
					<% if p.program.personal == true %>
						<% @count += 1 %>
					<% end -%>
				<% end -%>
				<td><%= @count %></td>
				<td><%= @user_created_at %></td>
				<td><%= user.subscribed? %></td>
				<td class="text-left" style="min-width: 280px !important;">
				<% if user.subscribed == false %>
				<%= link_to('Subscribe', {:controller => 'admin_dashboard', :action => 'subscribe', :id => user.id}, class: 'btn btn-primary btn-sm') %>
				<% else %>
				<%= link_to('Unsubscribe', {:controller => 'admin_dashboard', :action => 'unsubscribe', :id => user.id}, class: 'btn btn-primary btn-sm') %>
				<% end -%>
				<% if user.admin == false %>
				<%= link_to('Make Admin', {:controller => 'admin_dashboard', :action => 'make_admin', :id => user.id}, class: 'btn btn-primary btn-sm') %>
				<% else %>
				<%= link_to('Remove Admin', {:controller => 'admin_dashboard', :action => 'remove_admin', :id => user.id}, class: 'btn btn-primary btn-sm') %>
				<% end -%>
				<%= link_to('Delete', {:controller => 'admin_dashboard', :action => 'destroy_user', :id => user.id}, class: 'btn btn-primary btn-sm', data: { confirm: 'Are You Sure?' }) %>
				</td>
			</tr>
		<% end -%>
	</tbody>
</table>
</div>