<%= form_for([@processor, @program]) do |f| %>
  <% if @program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% @program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control", required: true %>
    </div>
    <div class="form-group">
      <%= f.label :min_volume %><br>
      <div class="input-group">
      <span class="input-group-addon">$</span>
      <%= f.number_field :min_volume, class: "form-control", value: 3000, :required => true, :data => { type: 'number' } %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :max_volume %><br>
      <div class="input-group">
      <span class="input-group-addon">$</span>
      <%= f.number_field :max_volume, class: "form-control", value: 30000, :required => true, :data => { type: 'number' } %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :up_front_bonus %><br>
      <div class="input-group">
      <span class="input-group-addon">$</span>
      <%= f.number_field :up_front_bonus, class: "form-control", value: 200, :required => true, :data => { type: 'number' } %>
      </div>
    </div>
    <div class="form-group">
      <p class="bold ">Residual Split %</p>
      <div class="input-group">
      <%= f.number_field :residual_split, class: "form-control", value: 50, :min => 5, :required => true, :data => { type: 'number' }%>
      <span class="input-group-addon">%</span>
      </div>
    </div>
    <center>
    <div class="form-group">
      <%= f.label :min_bp_mark_up %><br>
      <%= f.select(:min_bp_mark_up, options_for_select([['0', 0], ['5', 5], ['10', 10], ['15', 15], ['20', 20], ['25', 25], ['30', 30], ['35', 35], ['40', 40], ['45', 45], ['50', 50]]), class: 'form-control' ) %>
    </div>
    <div class="form-group">
      <%= f.label :min_per_item_fee %><br>
      <%= f.select(:min_per_item_fee, options_for_select([['$0', 0 ], ['$0.005', 0.005 ], ['$0.01', 0.01 ], ['$0.015', 0.015 ], ['$0.02', 0.02 ], ['$0.025', 0.025 ], ['$0.03', 0.03 ], ['$0.035', 0.035], ['$0.04', 0.04 ], ['$0.045', 0.045 ], ['$0.05', 0.05 ], ['$0.055', 0.055 ], ['$0.06', 0.06 ], ['$0.065', 0.065 ], ['$0.07', 0.07 ], ['$0.075', 0.075 ], ['$0.08', 0.08 ], ['$0.085', 0.085 ], ['$0.09', 0.09 ], ['$0.095', 0.095 ], ['$0.10',  0.10 ]]), class: 'form-control' ) %>
    </div>
    <div class="form-group">
      <%= f.label :cost_structure %><br>
      <%= collection_select( :program, :structure_id, Structure.all, :id, :name, {}, { :multiple => false }) %>
    </div>
    <div class="form-group">
      <%= f.label :terminal_type %><br>
      <%= collection_select( :program, :system_id, System.all, :id, :name, {}, { :multiple => false }) %>
    </div>
    <div class="form-group">
      <%= f.label :terminal_ownership_type %><br>
      <%= f.select(:terminal_ownership_type, options_for_select([['Loaner', 'Loaner' ], ['Lease', 'Lease' ], ['Purchase', 'Purchase' ], ['Rental', 'Rental' ]]), class: 'form-control' ) %>
    </div>
    <div class="form-group">
      <%= f.label :min_per_batch_fee %><br>
      <%= f.select(:min_per_item_fee, options_for_select([['$0', 0 ], ['$0.05', 0.05 ], ['$0.10', 0.10 ], ['$0.15', 0.15 ], ['$0.20', 0.20 ], ['$0.25', 0.25 ], ['$0.30', 0.30 ], ['$0.35', 0.35 ], ['$0.40', 0.40 ], ['$0.45', 0.45 ], ['$0.50', 0.50 ]]), class: 'form-control' ) %>
    </div>
    <div class="form-group">
      <%= f.label :per_batch_cost %><br>
      <%= f.select(:per_batch_cost, options_for_select([['$0', 0 ], ['$0.005', 0.005], ['$0.01', 0.01], ['$0.015', 0.015], ['$0.02', 0.02], ['$0.025', 0.025], ['$0.03', 0.03], ['$0.035', 0.035], ['$0.04', 0.04], ['$0.045', 0.045], ['$0.05', 0.05], ['$0.055', 0.055], ['$0.06', 0.06], ['$0.065', 0.065], ['$0.07', 0.07], ['$0.075', 0.075], ['$0.08', 0.08], ['$0.085', 0.085], ['$0.09', 0.09], ['$0.095', 0.095], ['$0.10', 0.10]]), class: 'form-control' ) %>
    </div>
    <div class="form-group">
      <%= f.label :per_item_cost %><br>
      <%= f.select(:per_item_cost, options_for_select([['$0', 0], ['$0.005', 0.005], ['$0.01', 0.01], ['$0.015', 0.015], ['$0.02', 0.02], ['$0.025', 0.025], ['$0.03', 0.03], ['$0.035', 0.035], ['$0.04', 0.04], ['$0.045', 0.045], ['$0.05', 0.05], ['$0.055', 0.055], ['$0.06', 0.06], ['$0.065', 0.065], ['$0.07', 0.07], ['$0.075', 0.075], ['$0.08', 0.08], ['$0.085', 0.085], ['$0.09', 0.09], ['$0.095', 0.095], ['$0.10', 0.10]]), class: 'form-control' ) %>
    </div>
    <div class="form-group">
      <p class="bold ">Bin Sponsorship Basis Points</p>
       <%= f.select(:bin_sponsorship, options_for_select([['0', 0], ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8], ['9', 9], ['10', 10]]), class: 'form-control' ) %>
    </div>
    <div class="form-group">
      <%= f.label :visa_access_per_item %><br>
           <%= f.select(:visa_access_per_item, options_for_select([['$0', 0], ['$0.005', 0.005], ['$0.01', 0.01], ['$0.015', 0.015], ['$0.02', 0.02], ['$0.025', 0.025], ['$0.03', 0.03], ['$0.035', 0.035], ['$0.04', 0.04], ['$0.045', 0.045], ['$0.05', 0.05], ['$0.055', 0.055], ['$0.06', 0.06]]), class: 'form-control' ) %>
    </div>
    <div class="form-group">
      <p class="bold ">Visa Access Basis Points</p>
          <%= f.select(:visa_access_percentage, options_for_select([['0', 0], ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8], ['9', 9], ['10', 10], ['11', 11], ['12', 12], ['13', 13], ['14', 14], ['15', 15], ['16', 16], ['17', 17], ['18', 18], ['19', 19], ['20', 20]]), class: 'form-control' ) %>
    </div>
    <div class="form-group">
      <%= f.label :mc_access_per_item %><br>
      <%= f.select(:mc_access_per_item, options_for_select([['$0', 0], ['$0.005', 0.005], ['$0.01', 0.01], ['$0.015', 0.015], ['$0.02', 0.02], ['$0.025', 0.025], ['$0.03', 0.03], ['$0.035', 0.035], ['$0.04', 0.04], ['$0.045', 0.045], ['$0.05', 0.05], ['$0.055', 0.055], ['$0.06', 0.06]]), class: 'form-control' ) %>
    </div>
    <div class="form-group">
      <p class="bold ">Mastercard Access Basis Points</p>
      <%= f.select(:mc_access_percentage, options_for_select([['0', 0], ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8], ['9', 9], ['10', 10], ['11', 11], ['12', 12], ['13', 13], ['14', 14], ['15', 15], ['16', 16], ['17', 17], ['18', 18], ['19', 19], ['20', 20]]), class: 'form-control' ) %>
    </div>
    <div class="form-group">
      <%= f.label :disc_access_per_item %><br>
      <%= f.select(:disc_access_per_item, options_for_select([['$0', 0], ['$0.005', 0.005], ['$0.01', 0.01], ['$0.015', 0.015], ['$0.02', 0.02], ['$0.025', 0.025], ['$0.03', 0.03], ['$0.035', 0.035], ['$0.04', 0.04], ['$0.045', 0.045], ['$0.05', 0.05], ['$0.055', 0.055], ['$0.06', 0.06]]), class: 'form-control' ) %>
    </div>
    <div class="form-group">
       <p class="bold ">Discover Access Basis Points</p>
      <%= f.select(:disc_access_percentage, options_for_select([['0', 0], ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8], ['9', 9], ['10', 10], ['11', 11], ['12', 12], ['13', 13], ['14', 14], ['15', 15], ['16', 16], ['17', 17], ['18', 18], ['19', 19], ['20', 20]]), class: 'form-control' ) %>
    </div>
    </center>
    <div class="form-group">
      <%= f.label :min_monthly_fees %><br>
      <div class="input-group">
      <span class="input-group-addon">$</span>
      <%= f.number_field :min_monthly_fees, class: "form-control", :required => true, value: 9.95, :data => { type: 'number' } %>
            </div>
    </div>
    <div class="form-group">
      <%= f.label :monthly_fee_costs %><br>
      <div class="input-group">
      <span class="input-group-addon">$</span>
      <%= f.number_field :monthly_fee_costs, class: "form-control", :required => true, value: 450, :data => { type: 'number' } %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :monthly_pci_fee %><br>
      <div class="input-group">
      <span class="input-group-addon">$</span>
      <%= f.number_field :monthly_pci_fee, class: "form-control", :required => true, value: 9.95, :data => { type: 'number' } %>
            </div>
    </div>
    <div class="form-group">
      <%= f.label :monthly_pci_cost %><br>
      <div class="input-group">
      <span class="input-group-addon">$</span>
      <%= f.number_field :monthly_pci_cost, class: "form-control", :required => true, value: 450, :data => { type: 'number' } %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :annual_pci_fee %><br>
      <div class="input-group">
      <span class="input-group-addon">$</span>
      <%= f.number_field :annual_pci_fee, class: "form-control", :required => true, value: 0, :data => { type: 'number' } %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :annual_pci_cost %><br>
      <div class="input-group">
      <span class="input-group-addon">$</span>
      <%= f.number_field :annual_pci_cost, class: "form-control", :required => true, value: 0, :data => { type: 'number' } %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :min_pin_debit_per_item_fee %><br>
      <div class="input-group">
      <span class="input-group-addon">$</span>
      <%= f.number_field :min_pin_debit_per_item_fee, class: "form-control", :required => true, :data => { type: 'number' } %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :pin_debit_per_item_cost %><br>
      <div class="input-group">
      <span class="input-group-addon">$</span>
      <%= f.number_field :pin_debit_per_item_cost, class: "form-control", :required => true, :data => { type: 'number' } %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :min_monthly_debit_fee %><br>
      <div class="input-group">
      <span class="input-group-addon">$</span>
      <%= f.number_field :min_monthly_debit_fee, class: "form-control", :required => true, value: 9.95, :data => { type: 'number' } %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :monthly_debit_fee_cost %><br>
      <div class="input-group">
      <span class="input-group-addon">$</span>
      <%= f.number_field :monthly_debit_fee_cost, class: "form-control", :required => true, value: 450, :data => { type: 'number' } %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :next_day_funding_monthly_fee %><br>
      <div class="input-group">
      <span class="input-group-addon">$</span>
      <%= f.number_field :next_day_funding_monthly_fee, class: "form-control", :required => true, value: 9.95, :data => { type: 'number' } %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :next_day_funding_monthly_cost %><br>
      <div class="input-group">
      <span class="input-group-addon">$</span>
      <%= f.number_field :next_day_funding_monthly_cost, class: "form-control", :required => true, value: 450, :data => { type: 'number' } %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :min_amex_per_item_fee %><br>
      <div class="input-group">
      <span class="input-group-addon">$</span>
      <%= f.number_field :min_amex_per_item_fee, class: "form-control", :required => true, value: 0.15, :data => { type: 'number' } %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :amex_per_item_cost %><br>
      <div class="input-group">
      <span class="input-group-addon">$</span>
      <%= f.number_field :amex_per_item_cost, class: "form-control", :required => true, value: 0.10, :data => { type: 'number' } %>
      </div>
    </div>
    <center>
    <div class="form-group">
      <%= f.label :amex_bp_cost %><br>
      <%= f.select(:amex_bp_cost, options_for_select([['0', 0], ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8], ['9', 9], ['10', 10], ['11', 11], ['12', 12], ['13', 13], ['14', 14], ['15', 15], ['16', 16], ['17', 17], ['18', 18], ['19', 19], ['20', 20]]), class: 'form-control' ) %>
    </div>
    <div class="form-group">
      <%= f.label :min_amex_bp_fee %><br>
      <%= f.select(:min_amex_bp_fee, options_for_select([['0', 0], ['5', 5], ['10', 10], ['15', 15], ['20', 20], ['25', 25], ['30', 30], ['35', 35], ['40', 40], ['45', 45], ['50', 50]]), class: 'form-control' ) %>
    </div>
    </center>
    <div class="form-group">
      <%= f.label :application_fee_cost %><br>
      <div class="input-group">
      <span class="input-group-addon">$</span>
      <%= f.number_field :application_fee_cost, class: "form-control", :required => true, value: 0, :data => { type: 'number' } %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :min_application_fee %><br>
      <div class="input-group">
      <span class="input-group-addon">$</span>
      <%= f.number_field :min_application_fee, class: "form-control", :required => true, value: 0, :data => { type: 'number' } %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "Save", class: "btn btn-lg btn-primary", :required => true %>
      <%= link_to 'Back', processor_programs_path(@processor), class: 'btn btn-primary btn-lg' %>
  
    </div>
    <% end %>
  </div>
</div><br>

<!--

<script type="text/javascript">
$(document).ready(function(){
    $("input[data-type='number']").keyup(function(event){
      // skip for arrow keys
      if(event.which >= 37 && event.which <= 40){
          event.preventDefault();
      }
      var $this = $(this);
      var num = $this.val().replace(/,/gi, "");
      var num2 = num.split(/(?=(?:\d{3})+$)/).join(",");
      // the following line has been simplified. Revision history contains original.
      $this.val(num2);
  });
});
</script>

-->