<br>
<div class="container-fluid">
<div class="visible-md visible-lg">
<%= link_to "Program Wizard", new_processor_path, :class => 'btn btn-primary' %><br><br>
<% if @sorted_programs.first == nil %>
  <h1 class="text-center">Please Add Program</h1>
<% else %>

<table class="table table-striped table-responsive table-bordered">
  <thead>
    <tr class="white total">
      <th>Processor</th>
      <th>Name</th>
      <th>Min</th>
      <th>Max</th>
      <th>Bonus</th>
      <th>Split</th>
      <th>Basis Points</th>
      <th>Trans Fee</th>
      <th>Terminal</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @sorted_programs.each do |program| %>
      <tr>
        <% @processor = Processor.find_by_id(program.processor_id) %>
        <td><%= @processor.name %></td>
        <td class="hidden-sm"><span class="hidden-md"><%= program.name %></span><span class="visible-md"><%= truncate(program.name, length: 30) %></span></td>
        <td><%= number_to_currency(program.min_volume) %></td>
        <td>
          <% if program.max_volume == 0.0 %>
           No Max
          <% else %>
            <%= number_to_currency(program.max_volume) %>
          <% end -%>
        </td>
        <td><%= number_to_currency(program.up_front_bonus) %></td>
        <td><%= program.residual_split %></td>
        <td><%= program.min_bp_mark_up %></td>
        <td><%= number_to_currency(program.min_per_item_fee) %></td>
        <td><%= program.system.name %></td>
        <td class="text-center" style="min-width: 130px !important;">
              <% @programuser = Programuser.where(user_id: current_user.id).where(program_id: program.id).last %>
              <% if @programuser.edit_permission == true %>
                <%= link_to edit_processor_program_path(@processor, program), class: '' do %>
                  <i class="fa fa-pencil black fa-2x" aria-hidden="true"></i>
                <% end -%>
              <% end -%>
                <%= link_to( {:controller => 'programusers', :action => 'destroy_programuser', :id => program.id}, class: '', data: { confirm: 'Are You Sure?' }) do %>
                  <i class="fa fa-trash-o fa-2x black" aria-hidden="true"></i>
                <% end -%> 
              <% @programuser = Programuser.where(user_id: current_user.id).where(program_id: program.id).last %>
              <% if @programuser.edit_permission == true %>
                <%= link_to( program_custom_fields_path(program), class: '', style: 'margin-right: 1px !important;') do %>
                  <i class="fa fa-table fa-2x black" aria-hidden="true"></i>
                <% end -%>
              <% end -%>
                <%= link_to( {:controller => 'programs', :action => 'clone', :id => program.id, :processor_id => @processor.id}, class: '') do %>
                  <i class="fa fa-clone fa-2x black" aria-hidden="true"></i>
                <% end -%>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

 <!-- visible sm and xs -->
        <div class="visible-xs visible-sm">
        <%= link_to "Program Wizard", new_processor_path, :class => 'btn btn-primary panel-view-programs' %><br><br>
            <% @sorted_programs.each do |program| %>
            <% @processor = Processor.find_by_id(program.processor_id) %>
            <div class="col-lg-4">
                <div class="panel panel-primary text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <b><%= program.name %></b>
                        </h3>
                    </div>

                    <ul class="list-group">
                        <li class="list-group-item">
                            <b>Bonus:
                            </b><%= number_to_currency(program.up_front_bonus) %></li>
                        <li class="list-group-item">
                            <b>Split:
                            </b><%= program.residual_split %>%</li>
                        <li class="list-group-item">
                            <b>Basis Points:
                            </b><%= program.min_bp_mark_up %></li>
                        <% @programuser = Programuser.where(user_id: current_user.id).where(program_id: program.id).last %>
                        <% if @programuser.edit_permission == true %>
                          <li class="list-group-item"><%= link_to 'Edit', edit_processor_program_path(@processor, program), class: 'btn btn-primary' %>
                              <%= link_to( {:controller => 'programusers', :action => 'destroy_programuser', :id => program.id}, class: 'btn btn-primary', data: { confirm: 'Are You Sure?' }) %>
                              <%= link_to('Clone', {:controller => 'programs', :action => 'clone', :id => program.id, :processor_id => @processor.id}, class: 'btn btn-primary') %>
                              <div class="clearfix custom-field"></div>
                              <%= link_to('Custom Field', program_custom_fields_path(program), class: 'btn btn-primary wide-btn') %>
                         </li>
                         <% else %>
                          <li class="list-group-item">
                              <%= link_to('Clone', {:controller => 'programs', :action => 'clone', :id => program.id, :processor_id => @processor.id}, class: 'btn btn-primary') %>
                         </li>
                        <% end -%>
                    </ul>
                </div>
            </div>
            <% end %>
        </div>
<br>
<% end -%>