<p id="notice"><%= notice %></p>

<%= link_to 'New Program', new_processor_path %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Processor</th>
      <th>Name</th>
      <th>volume+</th>
      <th>Bonus</th>
      <th>split</th>
      <th>Basis Points</th>
      <th>Trans Fee</th>
      <th>Cost structure</th>
      <th>Terminal</th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sorted_programs.each do |program| %>
      <tr>
        <% @processor = Processor.find_by_id(program.processor_id) %>
        <td><%= @processor.name %></td>
        <td><%= program.name %></td>
        <td><%= program.min_volume %></td>
        <td><%= program.up_front_bonus %></td>
        <td><%= program.residual_split %></td>
        <td><%= program.min_bp_mark_up %></td>
        <td><%= program.min_per_item_fee %></td>
        <td><%= program.structure.name %></td>
        <td><%= program.structure.name %></td>
        <td><%= program.system.name %></td>
        <td><%= link_to 'Show', processor_program_path(@processor, program) %></td>
        <% if program.personal == true || current_user.admin = true %>
          <td><%= link_to 'Edit', edit_processor_program_path(@processor, program) %></td>
          <td><%= link_to 'Destroy', [@processor, program], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>