<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @program.name %>
</p>

<p>
  <strong>Min volume:</strong>
  <%= @program.min_volume %>
</p>

<p>
  <strong>Max volume:</strong>
  <%= @program.max_volume %>
</p>

<p>
  <strong>Up front bonus:</strong>
  <%= @program.up_front_bonus %>
</p>

<p>
  <strong>Residual split:</strong>
  <%= @program.residual_split %>
</p>

<%= link_to 'Edit', edit_processor_program_path(@processor, @program) %> |
<%= link_to 'Back', processor_programs_path(@processor) %>
