<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @program.name %>
</p>

<p>
  <strong>Per item cost:</strong>
  <%= @program.per_item_cost %>
</p>

<p>
  <strong>Min per item fee:</strong>
  <%= @program.min_per_item_fee %>
</p>

<p>
  <strong>Processor:</strong>
  <%= @program.Processor %>
</p>

<%= link_to 'Edit', edit_processor_program_path(@processor, @program) %> |
<%= link_to 'Back', processor_programs_path(@processor) %>
