<div class="form-background">
<%= form_for(@description) do |f| %>
  <% if @description.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@description.errors.count, "error") %> prohibited this description from being saved:</h2>

      <ul>
      <% @description.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <center>
  <div>
    <%= f.label :amex_business_type, :class => 'text' %>
    <%= f.select(:amex_business_type, options_for_select([['Retail', 'Retail'], ['Restaurant', 'Restaurant'], ['Other', 'Other']]), :class => 'text-box') %>
  </div>
  <div>
    <%= f.label :business_type_primary, :class => 'text' %>
    <%= f.text_field :business_type_primary, :class => 'text-box' %>
  </div><br>
  <div>
    <%= f.label :business_type_secondary, :class => 'text' %>
    <%= f.text_field :business_type_secondary, :class => 'text-box' %>
  </div><br>
  <div>
    <%= f.label :avg_ticket, :class => 'text' %>
    <%= f.text_field :avg_ticket, :class => 'text-box' %>
  </div><br><br>
  
  <div>
    <%= link_to(content_tag(:button, 'Back'), descriptions_path) %>
    <%= button_tag("Submit") %>
  </div>
  </center>
<% end %>
</div>