<div class="main-body">
<%= search_form_for @search, url: choose_descriptions_path do |f| %>
  <div class="field">
      <%=f.search_field :business_type_primary_or_business_type_secondary_cont, :id => 'search-box' %>
      <%= button_tag("Search") %>
  </div>
<% end %>
<table>
  <tbody>
    <% @descriptions.each do |description| %>
      <tr>
        <td class="description-row"><%= description.business_type_primary %></td>
        <td class="description-row secondary"><%= description.business_type_secondary %></td>
        <td class="choose-button-td"><%= link_to(content_tag(:button, 'Choose'), new_description_prospect_path(description_id: description.id), :class => 'choose-button') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
