<p id="notice"><%= notice %></p>

<p>
  <strong>Business type primary:</strong>
  <%= @description.business_type_primary %>
</p>

<p>
  <strong>Business type secondary:</strong>
  <%= @description.business_type_secondary %>
</p>

<p>
  <strong>Amex Business Type:</strong>
  <%= @description.amex_business_type %>
</p>

<%= link_to 'Edit', edit_description_path(@description) %> |
<%= link_to 'Back', descriptions_path %>
