<p id="notice"><%= notice %></p>

<p class="black-standard">
  <strong>Business type primary:</strong>
  <%= @description.business_type_primary %>
</p>

<p class="black-standard">
  <strong>Business type secondary:</strong>
  <%= @description.business_type_secondary %>
</p>

<p class="black-standard">
  <strong>Amex Business Type:</strong>
  <%= @description.amex_business_type %>
</p>

<%= link_to(content_tag(:button, 'Edit'), edit_description_path(@description)) %>
<%= link_to(content_tag(:button, 'Back'), descriptions_path) %>