<br>
<div class="container-fluid">
<div class="well">
<h2 class="no-margin">
	<b><%= @allusers.count %></b> <% if @allusers.count == 1 %> Total User <% else %> Total Users <% end -%> <br>
	<b><%= @admins.count %></b> <% if @admins.count == 1 %> Admin <% else %> Admins <% end -%><br>
</h2>
<h2 id="more_analytics" class="no-margin hidden">
	<b><%= @prospects.count %></b> <% if @prospects.count == 1 %> Prospect <% else %> Prospects <% end -%> <br>
	<b><%= @notes.count %></b> <% if @notes.count == 1 %> Note <% else %> Notes <% end -%> <br>
	<b><%= @tasks.count %></b> <% if @tasks.count == 1 %> Total Task <% else %> Total Tasks <% end -%> <br>
	<b><%= @completed_tasks.count %></b> <% if @completed_tasks.count == 1 %> Completed Task <% else %> Completed Tasks <% end -%> <br>
	<b><%= @uncompleted_tasks.count %></b> <% if @uncompleted_tasks.count == 1 %> Uncompleted Task <% else %> Uncompleted Tasks <% end -%> <br>
	<b><%= @statements.count %></b> <% if @statements.count == 1 %> Statement <% else %> Statements <% end -%> <br>
</h2>
<br>
<a id="more" class="black bold visible no-dec" style="cursor: pointer;">More Analytics</a>
</div>

<center><%= link_to('All Tickets', {:controller => 'admin_dashboard', :action => 'all_tickets'}, class: 'bold btn btn-primary')  %></center><br>

    <div class="col-xs-12">
        <%= search_form_for @search do |f| %>
        <div class="input-group stylish-input-group">
            <%= f.search_field :email_or_first_name_or_last_name_or_phone_number_cont, :class => 'form-control', :placeholder => 'Search' %>
            <span class="input-group-addon">
            <% if @search.email_or_first_name_or_last_name_or_phone_number_cont == nil %>
                <button type="submit">
                    <span class="glyphicon glyphicon-search" style="padding-top: 1px !important;"></span>
                </button>
              <% else %>
                <%= link_to users_path do %>
                  <i class="fa fa-times-circle-o black big-fa" style="color: #575757 !important; padding-top: 1px !important; cursor: pointer; font-size: 20px !important;" aria-hidden="true"></i>
                <% end -%>
              <% end -%>
            </span>
        </div>
        <% end %>
    </div> <div class="clearfix"></div><br>

<table class="table table-hover table-bordered">
	<thead>
		<tr class="total white">
			<th class="">ID</th>
			<th class="">Name</th>
			<th>Email</th>
			<th class="">Prospects</th>
			<th class="">Statements</th>
			<th class="">Last Login</th>
			<th class="">Login Count</th>
      <th></th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>

		<% date = user.last_sign_in_at %>
	    <% date = date.to_s[0,10] %>
	    <% date = date.split("-") %>
	    <% timeyear = date[0] %>
	    <% timemonth = date[1] %>
	    <% timeday = date[2] %>
	    <% @user_last_sign_in = "#{timemonth}/#{timeday}/#{timeyear}" %>

			<tr>
				<td class=""><%= user.id %></td>
				<td class=""><%= "#{user.first_name} #{user.last_name}" %></td>
				<td class=""><%= link_to(user.email, {:controller => 'admin_dashboard', :action => 'show_user', :id => user.id}, class: 'black bold')  %></td>
				<td class=""><%= user.prospects.count %></td>
				<% @statement_count = 0 %>
				<% user.prospects.each do |p| %>
				<% @statement_count += p.statements.count %>
				<% end %>
				<td class=""><%= @statement_count %></td>
				<td class=""><%= @user_last_sign_in %></td>
				<td class=""><%= user.sign_in_count %></td>
        <td><%= link_to "Impersonate", impersonate_engine.impersonate_user_path(user) %></td>
			</tr>
		<% end -%>
	</tbody>
</table>
</div>

<script type="text/javascript">

more.onclick = function() {
	more_analytics.classList.toggle('visible');
	more_analytics.classList.toggle('hidden');
	if (more.innerHTML == "More Analytics") {
		more.innerHTML = "Less Analytics"
	} else {
		more.innerHTML = "More Analytics"
	}
}

</script>
