<br>
<div class="container-fluid">
<div class="well">
<h2 class="no-margin">
	<b><%= @allusers.count %></b> <% if @allusers.count == 1 %> Total User <% else %> Total Users <% end -%> <br>
	<b><%= @subscribed_users.count %></b> <% if @subscribed_users.count == 1 %> Subscribed User <% else %> Subscribed Users <% end -%> <br>
	<b><%= @admins.count %></b> <% if @admins.count == 1 %> Admin <% else %> Admins <% end -%><br>
	<b><%= @course_subscribers.count %></b> <% if @course_subscribers.count == 1 %> Training User <% else %> Training Users <% end -%>
</h2>
<h2 id="more_analytics" class="no-margin hidden">
	<b><%= @prospects.count %></b> <% if @prospects.count == 1 %> Prospect <% else %> Prospects <% end -%> <br>
	<b><%= @notes.count %></b> <% if @notes.count == 1 %> Note <% else %> Notes <% end -%> <br>
	<b><%= @tasks.count %></b> <% if @tasks.count == 1 %> Total Task <% else %> Total Tasks <% end -%> <br>
	<b><%= @completed_tasks.count %></b> <% if @completed_tasks.count == 1 %> Completed Task <% else %> Completed Tasks <% end -%> <br>
	<b><%= @uncompleted_tasks.count %></b> <% if @uncompleted_tasks.count == 1 %> Uncompleted Task <% else %> Uncompleted Tasks <% end -%> <br>
	<b><%= @statements.count %></b> <% if @statements.count == 1 %> Statement <% else %> Statements <% end -%> <br>
</h2>
<br>
<a id="more" class="black bold visible no-dec" style="cursor: pointer;">More Analytics</a>
</div>

<center><%= link_to('All Tickets', {:controller => 'admin_dashboard', :action => 'all_tickets'}, class: 'bold btn btn-primary')  %></center><br>

    <div class="col-xs-12">
        <%= search_form_for @search do |f| %>
        <div class="input-group stylish-input-group">
            <%= f.search_field :email_or_first_name_or_last_name_or_phone_number_cont, :class => 'form-control', :placeholder => 'Search' %>
            <span class="input-group-addon">
            <% if @search.email_or_first_name_or_last_name_or_phone_number_cont == nil %>
                <button type="submit">
                    <span class="glyphicon glyphicon-search" style="padding-top: 1px !important;"></span>
                </button>
              <% else %>
                <%= link_to users_path do %>
                  <i class="fa fa-times-circle-o black big-fa" style="color: #575757 !important; padding-top: 1px !important; cursor: pointer; font-size: 20px !important;" aria-hidden="true"></i>
                <% end -%>
              <% end -%>
            </span>
        </div>
        <% end %>
    </div> <div class="clearfix"></div><br>

<table class="table table-hover table-bordered">
	<thead>
		<tr class="total white">
			<th class="hidden-xs">ID</th>
			<th>Email</th>
			<th class="hidden-xs">Prospects</th>
			<th class="hidden-xs">Statements</th>
			<th class="hidden-xs">Programs</th>
			<th class="hidden-xs">Last Login</th>
			<th class="hidden-xs">Login Count</th>
			<th class="hidden-xs">Active</th>
			<th class="hidden-xs text-center">Subscribed</th>
			<th class="visible-xs text-center">Subbed</th>
			<th class="hidden-xs">Trial End</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>

		<% date = user.last_sign_in_at %>
	    <% date = date.to_s[0,10] %>
	    <% date = date.split("-") %>
	    <% timeyear = date[0] %>
	    <% timemonth = date[1] %>
	    <% timeday = date[2] %>
	    <% @user_last_sign_in = "#{timemonth}/#{timeday}/#{timeyear}" %>

	    <% trial_date = user.trial_end_date %>
	    <% trial_date = trial_date.to_s[0,10] %>
	    <% trial_date = trial_date.split("-") %>
	    <% timeyear = trial_date[0] %>
	    <% timemonth = trial_date[1] %>
	    <% timeday = trial_date[2] %>
	    <% @trial_end_date = "#{timemonth}/#{timeday}/#{timeyear}" %>

			<tr>
				<td class="hidden-xs"><%= user.id %></td>
				<td class="hidden-xs"><%= link_to(user.email, {:controller => 'admin_dashboard', :action => 'show_user', :id => user.id}, class: 'black bold')  %></td>
				<td class="visible-xs" style="padding: 2px !important;"><%= link_to(user.email, {:controller => 'admin_dashboard', :action => 'show_user', :id => user.id}, class: 'black bold')  %></td>
				<td class="hidden-xs"><%= user.prospects.count %></td>
				<% @statements = 0 %>
				<% user.prospects.each do |p| %>
				<% @statements += p.statements.count %>
				<% end %>
				<td class="hidden-xs"><%= @statements %></td>
				<% @personal_programs = Programuser.where(user_id: user.id) %>
				<% @count = 0 %>
				<% @personal_programs.each do |p| %>
					<% if p.program.personal == true %>
						<% @count += 1 %>
					<% end -%>
				<% end -%>
				<td class="hidden-xs"><%= @count %></td>
				<td class="hidden-xs"><%= @user_last_sign_in %></td>
				<td class="hidden-xs"><%= user.sign_in_count %></td>
				<td class="hidden-xs"><%= user.stripe_subscription_active %></td>
				<td class="hidden-xs text-center"><%= user.subscribed? %></td>
				<td class="visible-xs text-center" style="padding: 2px !important; "><%= user.subscribed? %></td>
				<td class="hidden-xs"><%= @trial_end_date %></td>
			</tr>
		<% end -%>
	</tbody>
</table>
</div>

<script type="text/javascript">
	
more.onclick = function() {
	more_analytics.classList.toggle('visible');
	more_analytics.classList.toggle('hidden');
	if (more.innerHTML == "More Analytics") {
		more.innerHTML = "Less Analytics"
	} else {
		more.innerHTML = "More Analytics"
	}
}

</script>