<div class="container-fluid">
<h2 class="text-center">Forgot Your Password?</h2>
<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
  <div class="well">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
  </div>
<br>
  <div class="actions text-center">
    <span class="hidden-xs"><%= f.submit "Send Reset Password Instructions", :class => 'btn btn-primary' %></span>
    <span class="visible-xs"><%= f.submit "Send Instructions", :class => 'btn btn-primary' %></span>
  </div>
<% end %>
<br>
<div class="text-center">
<%= render "devise/shared/links" %>
</div>
</div>
</div>
</div>
