<p id="notice"><%= notice %></p>

<p>
  <strong>Business type:</strong>
  <%= @cost.business_type %>
</p>

<p>
  <strong>Payment type:</strong>
  <%= @cost.payment_type %>
</p>

<p>
  <strong>Low ticket:</strong>
  <%= @cost.low_ticket %>
</p>

<p>
  <strong>High ticket:</strong>
  <%= @cost.high_ticket %>
</p>

<p>
  <strong>Per item value:</strong>
  <%= @cost.per_item_value %>
</p>

<p>
  <strong>Percentage value:</strong>
  <%= @cost.percentage_value %>
</p>

<%= link_to 'Edit', edit_cost_path(@cost) %> |
<%= link_to 'Back', costs_path %>
