
<%= form_for([@prospect, @statement]) do |f| %>
  <% if @statement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@statement.errors.count, "error") %> prohibited this statement from being saved:</h2>

      <ul>
      <% @statement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="text-center">
  <div class="field">
    <h3>Statement For: <%= @prospect.business_name %></h3>
  </div>
  <div class="field">
    <h3>Type: <%= @prospect.description_primary%> -- <%= @prospect.description_secondary %></h3>
  </div>
  </div><br><br>
  <div class="col-sm-4 col-sm-offset-4 text-center">
  <div class="field">
      <%= f.label "Statement Month", :class => 'text' %>
      <%= f.text_field(:statement_month, :class => "form-control", :id => "inputdefault") %>
  </div><br>
  <div class="field">
       <%= f.label "Total Volume", :class => 'text' %>
       <%= f.text_field(:total_vol, :class => "form-control", :id => "inputdefault") %>
  </div><br>
  <div class="field">
      <%= f.label "Average Ticket Size", :class => 'text' %>
      <%= f.text_field(:avg_ticket, :class => "form-control", :id => "inputdefault") %>
  </div><br>
  <div class="field">
      <%= f.label "American Express Volume", :class => 'text' %>
      <%= f.text_field(:amex_vol, :class => "form-control", :id => "inputdefault") %>
  </div><br>
  <div class="field">
      <%= f.label "Pin Debit Volume", :class => 'text' %>
      <%= f.text_field(:debit_vol, :class => "form-control", :id => "inputdefault") %>
  </div><br>
  <div class="field">
      <%= f.label "Check Card Volume", :class => 'text' %>
      <%= f.text_field(:check_card_vol, :class => "form-control", :id => "inputdefault") %>
  </div><br>
  <div class="field">
      <%= f.label "Total Fees", :class => 'text' %>
      <%= f.text_field(:total_fees, :class => "form-control", :id => "inputdefault") %>
  </div><br>
  <%= link_to(content_tag(:button, 'Back', :class => 'btn btn-primary'), prospects_path) %>
  <%= button_tag("Submit", :class => 'btn btn-primary') %>
  <div class="field">
      <%= f.hidden_field(:prospect_id) %>
  </div><br>
<% end %>
</div>