<%= form_for([@prospect, @statement]) do |f| %>
  <% if @statement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@statement.errors.count, "error") %> prohibited this statement from being saved:</h2>

      <ul>
      <% @statement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :month %><br>
    <%= f.text_field :month %>
  </div>
  <div class="field">
    <%= f.label :trans_fee %><br>
    <%= f.text_field :trans_fee %>
  </div>
  <div class="field">
    <%= f.label :prospect_id %><br>
    <%= f.text_field :prospect_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
