<div class="form-background-quote">
<%= form_for([@prospect, @statement]) do |f| %>
  <% if @statement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@statement.errors.count, "error") %> prohibited this statement from being saved:</h2>

      <ul>
      <% @statement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="border-form-div">
<center>
  <div class="field">
    <label class="bigtext">Statement For:<br> <%= @prospect.business_name %></label>
  </div>
  <div class="field">
    <label class="bigtext">Type:<br> <%= @prospect.description_primary%> -- <%= @prospect.description_secondary %></label>
  </div>
  <div class="field">
      <%= f.label "Statement Month", :class => 'text' %>
      <%= f.text_field(:statement_month, :class => 'text-box') %>
  </div><br>
  <div class="field">
       <%= f.label "Total Volume", :class => 'text' %>
       <%= f.text_field(:total_vol, :class => 'text-box') %>
  </div><br>
  <div class="field">
      <%= f.label "Average Ticket Size", :class => 'text' %>
      <%= f.text_field(:avg_ticket, :class => 'text-box') %>
  </div><br>
  <div class="field">
      <%= f.label "American Express Volume", :class => 'text' %>
      <%= f.text_field(:amex_vol, :class => 'text-box') %>
  </div><br>
  <div class="field">
      <%= f.label "Pin Debit Volume", :class => 'text' %>
      <%= f.text_field(:debit_vol, :class => 'text-box') %>
  </div><br>
  <div class="field">
      <%= f.label "Check Card Volume", :class => 'text' %>
      <%= f.text_field(:check_card_vol, :class => 'text-box') %>
  </div><br>
  <div class="field">
      <%= f.label "Total Fees", :class => 'text' %>
      <%= f.text_field(:total_fees, :class => 'text-box') %>
  </div><br>
  <%= link_to(content_tag(:button, 'Back'), prospects_path) %>
  <%= button_tag("Submit") %>
  <div class="field">
      <%= f.hidden_field(:prospect_id) %>
  </div><br>
</div>
</center>
<% end %>
</div>