<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
<%= form_for([@prospect, @statement], html: {id: "statementForm"}) do |f| %>
  <% if @statement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@statement.errors.count, "error") %> prohibited this statement from being saved:</h2>

      <ul>
      <% @statement.errors.each do |attr, message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="text-center hidden-sm hidden-xs">
  <div class="field">
    <h2>New Statement: <b><%= @prospect.business_name %></b></h2>
  </div>
  </div>
  <div class="text-center visible-sm visible-xs">
  <div class="field">
    <h3>Statement: <b><%= @prospect.business_name %></b></h3>
  </div>
  </div><br>
  <div class="well clearfix">
  <div class="field">
      <%= f.text_field(:statement_month, :class => "form-control input-lg", :id => "inputdefault", :placeholder => "Name Your Statement") %>
  </div><br>
  <div class="field">
       <%= f.label "Total Volume (Required)", :class => 'text statement-text-label' %>
       <div class="input-group one-margin-field">
       <div class="input-group-addon">$</div>
       <%= f.text_field(:total_vol, :placeholder => "Include AMEX & Debit", :class => "form-control input-lg", :id => "volumeAmount") %>
       </div>
  </div>
  <div class="field">
      <%= f.label "American Express Volume", :class => 'text statement-text-label' %>
      <div class="input-group one-margin-field">
       <div class="input-group-addon">$</div>
      <%= f.text_field(:amex_vol, :class => "form-control input-lg", :id => "amexVol") %>
      </div>
  </div>
  <div class="field">
      <%= f.label "Pin Debit Volume", :class => 'text statement-text-label' %>
      <div class="input-group one-margin-field">
       <div class="input-group-addon">$</div>
      <%= f.text_field(:debit_vol, :class => "form-control input-lg", :id => "debitVol") %>
      </div>
  </div>
    <div class="field">
      <%= f.label "Average Ticket Size", :class => 'text statement-text-label' %>
      <div class="input-group one-margin-field">
       <div class="input-group-addon">$</div>
      <%= f.text_field(:avg_ticket, :class => "form-control input-lg", :id => "avgTicket", :value => (number_with_precision(@statement.avg_ticket, :precision => 2) || 0)) %>
      </div>
  </div>
  <div class="field">
      <%= f.label "Total Current Fees", :class => 'text statement-text-label' %>
      <div class="input-group">
       <div class="input-group-addon">$</div>
      <%= f.text_field(:total_fees, :class => "form-control input-lg", :id => "totalFees", :placeholder => 'Optional') %>
      </div>
  </div><br>
  <center>
  <%= button_tag("Create", :class => 'btn btn-primary btn-lg btn-block', :id => 'statementFormButton') %><br /><br />
  <%= link_to 'Cancel', prospects_path %><br><br>
</center>
  <div class="field">
      <%= f.hidden_field(:prospect_id) %>
  </div>
<% end %>
</div>
</div>
