<%= form_for([@prospect, @statement]) do |f| %>
  <% if @statement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@statement.errors.count, "error") %> prohibited this statement from being saved:</h2>

      <ul>
      <% @statement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %><br><br>
<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-center">
<div id="steponelabel">
<h3 class="no-margin bold hidden-xs"><%= @statement.statement_month %> || Volume</h3>
<h4 class="no-margin bold visible-xs"><%= @statement.statement_month %> || Volume</h4><br>
</div>
<div id="steptwolabel" class="hidden">
<h3 class="no-margin bold hidden-xs"><%= @statement.statement_month %> || Other</h3>
<h4 class="no-margin bold visible-xs"><%= @statement.statement_month %> || Other</h4><br>
</div>
<div class="well">
<div id="stepone" class="visible">
<div class="well statement-wizard-well">
<h4 class="text-center bold">VMD Credit</h4>
<div class="field col-sm-6">
     <div class="input-group">
  <div class="input-group-addon">$</div>
    <%= f.text_field(:vmd_vol, :class => "form-control", :id => "inputdefault") %>
    </div>
</div><br class="visible-xs">
<div class="field col-sm-6">
     <div class="input-group">
  <div class="input-group-addon">Items</div>
    <%= f.text_field(:vmd_trans, :class => "form-control", :id => "inputdefault") %>
    </div>
</div><div class="clearfix"></div></div><div class="clearfix"></div><br>
<div class="well statement-wizard-well">
<h4 class="text-center bold">VMD Check Card</h4>
<div class="field col-sm-6">
     <div class="input-group">
  <div class="input-group-addon">$</div>
    <%= f.text_field(:check_card_vol, :class => "form-control", :id => "inputdefault") %>
    </div><br class="visible-xs">
</div>
<div class="field col-sm-6">
     <div class="input-group">
  <div class="input-group-addon">Items</div>
    <%= f.text_field(:check_card_trans, :class => "form-control", :id => "inputdefault") %>
    </div>
</div><div class="clearfix"></div></div><div class="clearfix"></div><br>
<div class="well statement-wizard-well">
<h4 class="text-center bold">AMEX</h4>
<div class="field col-sm-6">
     <div class="input-group">
  <div class="input-group-addon">$</div>
  <%= f.text_field(:amex_vol, :class => "form-control", :id => "inputdefault") %>
  </div><br class="visible-xs">
</div>
<div class="field col-sm-6">
     <div class="input-group">
  <div class="input-group-addon">Items</div>
    <%= f.text_field(:amex_trans, :class => "form-control", :id => "inputdefault") %>
    </div>
</div><div class="clearfix"></div></div><div class="clearfix"></div><br>
<div class="well statement-wizard-well">
<h4 class="text-center bold">Pin Debit</h4>
<div class="field col-sm-6">
     <div class="input-group">
  <div class="input-group-addon">$</div>
    <%= f.text_field(:debit_vol, :class => "form-control", :id => "inputdefault") %>
    </div><br class="visible-xs">
</div>
<div class="field col-sm-6">
     <div class="input-group">
  <div class="input-group-addon">Items</div>
    <%= f.text_field(:debit_trans, :class => "form-control", :id => "inputdefault") %>
    </div>
</div><div class="clearfix"></div></div><div class="clearfix"></div><br>
<center><a id="stepone_btn" class="btn btn-primary">Next Step <i class="fa fa-angle-right" aria-hidden="true"></i></a></center>
</div>
<div id="steptwo" class="hidden">
<div class="field col-sm-6">
    <%= f.label "Visa-MC-Disc Interchange", :class => 'text text-capitalize' %>
   <div class="input-group">
    <div class="input-group-addon">$</div>
    <%= f.text_field(:vmd_interchange, :class => "form-control", :id => "inputdefault") %>
    </div>
</div>
<div class="field col-sm-6">
    <%= f.label "American Express Interchange", :class => 'text' %>
         <div class="input-group">
  <div class="input-group-addon">$</div>
    <%= f.text_field(:amex_interchange, :class => "form-control", :id => "inputdefault") %>
    </div>
</div><div class="clearfix"></div><br>
<div class="field col-sm-6">
    <%= f.label "Pin Debit Network Fees", :class => 'text' %>
         <div class="input-group">
  <div class="input-group-addon">$</div>
    <%= f.text_field(:debit_network_fees, :class => "form-control", :id => "inputdefault") %>
    </div>
</div>
<div class="field col-sm-6">
    <%= f.label "Daily Batches", :class => 'text' %>
         <div class="input-group">
  <div class="input-group-addon">#</div>
    <%= f.text_field(:batches, :class => "form-control", :id => "inputdefault") %>
    </div>
</div><div class="clearfix"></div><br>
<a id="backto_stepone_btn" class="btn btn-primary"><i class="fa fa-angle-left" aria-hidden="true"></i> Last Step</a>
<%= button_tag("Save", :class => 'btn btn-primary') %>
</div>

<div class="field">
    <%= f.hidden_field(:vmd_avg_ticket) %>
</div>
<div class="field">
    <%= f.hidden_field(:debit_avg_ticket) %>
</div>
<div class="field">
    <%= f.hidden_field(:amex_avg_ticket) %>
</div>
<div class="field">
    <%= f.hidden_field(:total_fees) %>
</div>
<div class="field">
    <%= f.hidden_field(:business_type) %>
</div>
<div class="field">
    <%= f.hidden_field(:prospect_id) %>
</div>
</div>
<br>
<% end %>
</div>

<script type="text/javascript">
  

stepone_btn.onclick = function() {

  stepone.classList.toggle('visible');
  stepone.classList.toggle('hidden');
  steptwo.classList.toggle('hidden');
  steptwo.classList.toggle('visible');
  steponelabel.classList.toggle('hidden');
  steponelabel.classList.toggle('visible');
  steptwolabel.classList.toggle('hidden');
  steptwolabel.classList.toggle('visible');

}

backto_stepone_btn.onclick = function() {

  stepone.classList.toggle('visible');
  stepone.classList.toggle('hidden');
  steptwo.classList.toggle('hidden');
  steptwo.classList.toggle('visible');
  steponelabel.classList.toggle('hidden');
  steponelabel.classList.toggle('visible');
  steptwolabel.classList.toggle('hidden');
  steptwolabel.classList.toggle('visible');


}

</script>