
<%= form_for([@prospect, @statement]) do |f| %>
  <% if @statement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@statement.errors.count, "error") %> prohibited this statement from being saved:</h2>

      <ul>
      <% @statement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-sm-4 col-sm-offset-4 text-center">
<div class="field">
    <%= f.label "Statement Month", :class => 'text' %>
    <%= f.text_field(:statement_month, :class => "form-control", :id => "inputdefault") %>
</div>
<div class="field">
     <%= f.label "Total Volume", :class => 'text' %>
     <%= f.text_field(:total_vol, :class => "form-control", :id => "inputdefault") %>
</div>
<div class="field">
    <%= f.label "American Express Volume", :class => 'text' %>
    <%= f.text_field(:amex_vol, :class => "form-control", :id => "inputdefault") %>
</div>
<div class="field">
    <%= f.label "Visa/MC/Disc Volume", :class => 'text' %>
    <%= f.text_field(:vmd_vol, :class => "form-control", :id => "inputdefault") %>
</div>
<div class="field">
    <%= f.label "Check Card Volume ", :class => 'text' %>
    <%= f.text_field(:check_card_vol, :class => "form-control", :id => "inputdefault") %>
</div>
<div class="field">
    <%= f.label "Pin Debit Volume", :class => 'text' %>
    <%= f.text_field(:debit_vol, :class => "form-control", :id => "inputdefault") %>
</div>
<div class="field">
    <%= f.label "Visa/MC/Disc Transactions", :class => 'text' %>
    <%= f.text_field(:vmd_trans, :class => "form-control", :id => "inputdefault") %>
</div>
<div class="field">
    <%= f.label "Check Card Transactions", :class => 'text' %>
    <%= f.text_field(:check_card_trans, :class => "form-control", :id => "inputdefault") %>
</div>
<div class="field">
    <%= f.label "American Express Transactions", :class => 'text' %>
    <%= f.text_field(:amex_trans, :class => "form-control", :id => "inputdefault") %>
</div>
<div class="field">
    <%= f.label "Pin Debit Transactions", :class => 'text' %>
    <%= f.text_field(:debit_trans, :class => "form-control", :id => "inputdefault") %>
</div>
<div class="field">
    <%= f.label "Visa-MC-Disc Interchange", :class => 'text' %>
    <%= f.text_field(:vmd_interchange, :class => "form-control", :id => "inputdefault") %>
</div>
<div class="field">
    <%= f.label "American Express Interchange", :class => 'text' %>
    <%= f.text_field(:amex_interchange, :class => "form-control", :id => "inputdefault") %>
</div>
<div class="field">
    <%= f.label "Pin Debit Network Fees", :class => 'text' %>
    <%= f.text_field(:debit_network_fees, :class => "form-control", :id => "inputdefault") %>
</div>
<div class="field">
    <%= f.label "Total Interchange / Network", :class => 'text' %>
    <%= f.text_field(:interchange, :class => "form-control", :id => "inputdefault") %>
</div>
<div class="field">
    <%= f.label "Daily Batches", :class => 'text' %>
    <%= f.text_field(:batches, :class => "form-control", :id => "inputdefault") %>
</div><br>
<%= button_tag("Save Edits", :class => 'btn btn-primary') %>
<%= link_to(content_tag(:button, 'Back', :class => 'btn btn-primary'), prospect_statements_path(@prospect)) %>
<div class="field">
    <%= f.hidden_field(:vmd_avg_ticket) %>
</div>
<div class="field">
    <%= f.hidden_field(:debit_avg_ticket) %>
</div>
<div class="field">
    <%= f.hidden_field(:amex_avg_ticket) %>
</div>
<div class="field">
    <%= f.hidden_field(:total_fees) %>
</div>
<div class="field">
    <%= f.hidden_field(:business_type) %>
</div>
<div class="field">
    <%= f.hidden_field(:prospect_id) %>
</div>
<br>
<% end %>
</div>
