<%= form_for([@prospect, @statement]) do |f| %>
  <% if @statement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@statement.errors.count, "error") %> prohibited this statement from being saved:</h2>

      <ul>
      <% @statement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.label "Statement Month" %>
    <%= f.text_field(:statement_month, :class => "form-control") %>
</div>
<div class="field">
     <%= f.label "Total Volume" %>
     <%= f.text_field(:total_vol, :class => "form-control") %>
</div>
<div class="field">
    <%= f.label "American Express Volume" %>
    <%= f.text_field(:amex_vol, :class => "form-control") %>
</div>
<div class="field">
    <%= f.label "Visa/MC/Disc Volume" %>
    <%= f.text_field(:vmd_vol, :class => "form-control") %>
</div>
<div class="field">
    <%= f.label "Check Card Volume " %>
    <%= f.text_field(:check_card_vol, :class => "form-control") %>
</div>
<div class="field">
    <%= f.label "Pin Debit Volume" %>
    <%= f.text_field(:debit_vol, :class => "form-control") %>
</div>
<div class="field">
    <%= f.hidden_field(:vmd_avg_ticket) %>
</div>
<div class="field">
    <%= f.hidden_field(:check_card_avg_ticket) %>
</div>
<div class="field">
    <%= f.hidden_field(:debit_avg_ticket) %>
</div>
<div class="field">
    <%= f.hidden_field(:amex_avg_ticket) %>
</div>
<div class="field">
    <%= f.label "Visa/MC/Disc Transactions" %>
    <%= f.text_field(:vmd_trans, :class => "form-control") %>
</div>
<div class="field">
    <%= f.label "Check Card Transactions" %>
    <%= f.text_field(:check_card_trans, :class => "form-control") %>
</div>
<div class="field">
    <%= f.label "American Express Transactions" %>
    <%= f.text_field(:amex_trans, :class => "form-control") %>
</div>
<div class="field">
    <%= f.label "Pin Debit Transactions" %>
    <%= f.text_field(:debit_trans, :class => "form-control") %>
</div>
<div class="field">
    <%= f.label "Visa-MC-Disc Interchange" %>
    <%= f.text_field(:vmd_interchange, :class => "form-control") %>
</div>
<div class="field">
    <%= f.label "Check Card Interchange" %>
    <%= f.text_field(:check_card_interchange, :class => "form-control") %>
</div>
<div class="field">
    <%= f.label "American Express Interchange" %>
    <%= f.text_field(:amex_interchange, :class => "form-control") %>
</div>
<div class="field">
    <%= f.label "Pin Debit Network Fees" %>
    <%= f.text_field(:debit_network_fees, :class => "form-control") %>
</div>
<div class="field">
    <%= f.label "Total Interchange / Network" %>
    <%= f.text_field(:interchange, :class => "form-control") %>
</div>
<div class="field">
    <%= f.label "Daily Batches" %>
    <%= f.text_field(:batches, :class => "form-control") %>
</div>
<div class="field">
    <%= f.hidden_field(:total_fees) %>
</div>
<div class="field">
    <%= f.hidden_field(:business_type) %>
</div>
<div class="field">
    <%= f.hidden_field(:prospect_id) %>
</div>
<div class ="form-buttons">
      <%= submit_tag("Save Edits", :class => 'btn btn-default') %>
</div>
<% end %>
