<p id="notice"><%= notice %></p>

<% if user_signed_in? && current_user.admin? %>

    <%= form_tag import_statements_path, multipart: true do %>

      <%= file_field_tag :file, style: 'margin-bottom: 5px !important;', id: 'import_field' %>
      <%= submit_tag "Import", :class => 'btn btn-primary', id: 'import_btn' %>
    <% end %>
<% end %>
<center>
<h1>Listing Statements</h1>
<div class="container">
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th class="description-row">Month</th>
      <th class="description-row">Prospect</th>
    </tr>
  </thead>

  <tbody>
    <% @statements.each do |statement| %>
      <tr>
        <td class="description-row"><%= statement.statement_month %></td>
        <td class="description-row"><%= statement.prospect.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

</center>



