<p id="notice"><%= notice %></p>
<center>
<h1>Listing Statements</h1>
<div class="container">
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th class="description-row">Month</th>
      <th class="description-row">Trans Fee</th>
      <th class="description-row">Prospect</th>
    </tr>
  </thead>

  <tbody>
    <% @statements.each do |statement| %>
      <tr>
        <td class="description-row"><%= statement.statement_month %></td>
        <td class="description-row"><%= statement.prospect %></td>
        <td class="description-row  text-right"><%= link_to(content_tag(:button, 'Show', :class => 'btn btn-primary'), prospect_statement_path(@prospect, statement)) %>
        <%= link_to(content_tag(:button, 'Edit', :class => 'btn btn-primary'), edit_prospect_statement_path(@prospect, statement)) %>
        <%= link_to(content_tag(:button, 'Destroy', :class => 'btn btn-primary'), [@prospect, statement], method: :delete, data: { confirm: 'Are you sure?' }) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= link_to(content_tag(:button, 'New Statement', :class => 'btn btn-primary'), new_prospect_statement_path(@prospect)) %>
</center>



