<center>
<p id="notice"><%= notice %></p>

<table summary="Statement Detail View">
  <tr>
    <th class="description-row">ID:</th>
    <td class="description-row"><%= @statement.id %></td>
  </tr>
    <th class="description-row">Total Fees:</th>
	<td class="description-row"><%= @statement.total_fees %></td>
  </tr>
    <th class="description-row">Business Type:</th>
    <td class="description-row"><%= @statement.business_type %></td>
  </tr>
	<th class="description-row">Visa/MC/Disc Volume:</th>
	<td class="description-row"><%= @statement.vmd_vol %></td>
  </tr>
    <th class="description-row">Visa/MC/Disc Trans:</th>
	<td class="description-row"><%= @statement.vmd_trans %></td>
  </tr>
    <th class="description-row">Number of Batches:</th>
	<td class="description-row"><%= @statement.batches %></td>
  </tr>
    <th class="description-row">American Express Transactions:</th>
	<td class="description-row"><%= @statement.amex_trans %></td>
  </tr>
    <th class="description-row">American Express Volume:</th>
	<td class="description-row"><%= @statement.amex_vol %></td>
  </tr>
    <th class="description-row">Pin Debit Volume:</th>
	<td class="description-row"><%= @statement.debit_vol %></td>
  </tr>
    <th class="description-row">Pin Debit Transactions:</th>
	<td class="description-row"><%= @statement.debit_trans %></td>
  </tr>
    <th class="description-row">Vs/Mc/Dis Interchange Costs:</th>
	<td class="description-row"><%= @statement.interchange %></td>
  </tr>
    <th class="description-row">Statement Month:</th>
	<td class="description-row"><%= @statement.statement_month %></td>
	<tr>
	  <th class="description-row">Updated:</th>
	  <td class="description-row"><%= @statement.updated_at %></td>
	</tr>
</table>
<%= link_to(content_tag(:button, 'Edit'), edit_prospect_statement_path(@prospect, @statement)) %>
<%= link_to(content_tag(:button, 'Compare'), prospect_statement_comparisons_path(@prospect, @statement)) %>
<%= link_to(content_tag(:button, 'Back'), prospect_statements_path(@prospect)) %>
</center>