<p id="notice"><%= notice %></p>

<h1>Listing Internal Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Full name</th>
      <th>Phone number</th>
      <th>Email address</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @internal_contacts.each do |internal_contact| %>
      <tr>
        <td><%= internal_contact.full_name %></td>
        <td><%= internal_contact.phone_number %></td>
        <td><%= internal_contact.email_address %></td>
        <td><%= internal_contact.message %></td>
        <td><%= link_to 'Delete', internal_contact, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Internal contact', new_internal_contact_path %>
