
<div class="container-fluid">
<h1 class="text-center">Contact Messages</h1>

<table class="table table-bordered table-hover table-responsive">
  <thead>
    <tr>
      <th>Full name</th>
      <th>Phone number</th>
      <th>Email address</th>
      <th>Message</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @internal_contacts.each do |internal_contact| %>
      <tr>
        <td><%= internal_contact.full_name %></td>
        <td><%= internal_contact.phone_number %></td>
        <td><%= internal_contact.email_address %></td>
        <td><%= internal_contact.message %></td>
        <td class="text-center"><%= link_to 'Delete', internal_contact, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-primary btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>