<%= form_for(@inttype) do |f| %>
  <% if @inttype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inttype.errors.count, "error") %> prohibited this inttype from being saved:</h2>

      <ul>
      <% @inttype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :card_type %><br>
    <%= f.text_field :card_type %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :percent %><br>
    <%= f.text_field :percent %>
  </div>
  <div class="field">
    <%= f.label :per_item %><br>
    <%= f.text_field :per_item %>
  </div>
  <div class="field">
    <%= f.label :max %><br>
    <%= f.text_field :max %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
