<%= form_for(@inttype) do |f| %>
  <% if @inttype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inttype.errors.count, "error") %> prohibited this inttype from being saved:</h2>

      <ul>
      <% @inttype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :card_type %><br>
    <%= f.text_field :card_type %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :percent %><br>
    <%= f.text_field :percent %>
  </div>
  <div class="field">
    <%= f.label :per_item %><br>
    <%= f.text_field :per_item %>
  </div>
  <div class="field">
    <%= f.label :full_description %><br>
    <%= f.text_area :full_description %>
  </div>
  <div class="field">
    <%= f.label :max %><br>
    <%= f.text_field :max %>
  </div>
   <div class="field">
    <%= f.label :B2B %><br>
    <%= f.check_box :B2B %>
  </div>
  <div class="field">
    <%= f.label :B2C %><br>
    <%= f.check_box :B2C %>
  </div>
  <div class="field">
    <%= f.label :Keyed %><br>
    <%= f.check_box :Keyed %>
  </div>
  <div class="field">
    <%= f.label :Swiped %><br>
    <%= f.check_box :Swiped %>
  </div>
  <div class="field">
    <%= f.label :ecomm %><br>
    <%= f.check_box :ecomm %>
  </div>
  <div class="field">
    <%= f.label :CVV %><br>
    <%= f.check_box :CVV %>
  </div>
  <div class="field">
    <%= f.label :Zip %><br>
    <%= f.check_box :Zip %>
  </div>
  <div class="field">
    <%= f.label :Address %><br>
    <%= f.check_box :Address %>
  </div>
  <div class="field">
    <%= f.label :Name %><br>
    <%= f.check_box :Name %>
  </div>
  <div class="field">
    <%= f.label :Downgrade %><br>
    <%= f.check_box :CVV %>
  </div>
  <div class="field">
    <%= f.label :biz_type %><br>
    <%= f.text_field :biz_type %>
  </div>
  <div class="field">
    <%= f.label :max_ticket %><br>
    <%= f.text_field :max_ticket %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
