<div class="container-fluid">
<br>
<h2 class="no-margin">Create One New Interchange Type</h2>
<h3 class="no-padding no-margin"><%= link_to 'New Inttype', new_inttype_path %></h3>
<hr style="margin: 10px !important;">
<h2 class="no-margin" style="margin-bottom: 10px !important;">Import Multiple Interchange Types</h2>

<%= form_tag import_inttypes_path, multipart: true do %>

  <%= file_field_tag :file, style: 'margin-bottom: 5px !important;', id: 'import_field' %>
  <%= submit_tag "Import", :class => 'btn btn-primary', id: 'import_btn' %>
<% end %>

<h1 class="text-center">Listing Inttypes</h1>
<table class="table table-responsive table-bordered table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Card type</th>
      <th>Description</th>
      <th>Percent</th>
      <th>Per item</th>
      <th>Max</th>
      <th colspan="2" class="text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @inttypes.each do |inttype| %>
      <tr>
        <td><%= inttype.id %></td>
        <td><%= inttype.card_type %></td>
        <td><%= inttype.description %></td>
        <td><%= inttype.percent %></td>
        <td><%= inttype.per_item %></td>
        <td><%= inttype.max %></td>
        <td class="text-center"><%= link_to 'Edit', edit_inttype_path(inttype), class: 'black' %> | 
        <%= link_to 'Delete', inttype, method: :delete, data: { confirm: 'Are You Sure?' }, class: 'black' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>

<script type="text/javascript">
  $("#import_btn").attr('disabled', true);

  import_field.onchange = function() {
    $("#import_btn").attr('disabled', false);
  };
</script>