<%= div_for(ticket) do %>
<% @ticket_maker = User.where(id: ticket.admin_user_id) %>
			<% date = ticket.created_at %>
	    <% date = date.to_s[0,10] %>
	    <% date = date.split("-") %>
	    <% timeyear = date[0] %>
	    <% timemonth = date[1] %>
	    <% timeday = date[2] %>
	    <% @ticket_made_on = "#{timemonth}/#{timeday}/#{timeyear}" %>
	<div class="clearfix delete">
	<% if ticket.important == true %>
		<div class="well" style="border: 2px solid red !important; border-radius: 5px !important; padding: 10px !important; margin-bottom: 5px !important; padding-bottom: 5px !important;">
		<% else %>
		<div style="padding: 10px !important; margin-bottom: 5px !important; padding-bottom: 5px !important;" class="well">
		<% end -%>
		<div class="btn-group pull-right">
			
			<% if ticket.important == false %>
				<%= link_to({:controller => 'tickets', :action => 'mark_important', :id => ticket.id}, class: '') do %>
					<i class="fa fa-square-o black" style="margin-top: 5px !important;" aria-hidden="true"></i>
				<% end -%>
			<% else %>
				<%= link_to({:controller => 'tickets', :action => 'mark_unimportant', :id => ticket.id}, class: '') do %>
					<i class="fa fa-check-square-o black" style="margin-top: 5px !important;" aria-hidden="true"></i>
				<% end -%>
			<% end -%>

				<%= link_to user_ticket_path(@user, ticket), method: :delete, :class => 'delete-ticket', :remote => true, data: { confirm: 'Are You Sure?' } do %>
				   <i class="fa fa-trash big-fa black" aria-hidden="true"></i>
				<% end %>
		</div>
		<p class="text-left no-margin-bottom"><small class=""><strong><%= @ticket_maker.first.email %> (<%= @ticket_made_on %>)</strong></small></p>
			<p class="text-left"><%= ticket.body %></p>
		</div>
	</div>
<% end %>