<p><%= @message.full_name %> just sent a new support message.</p>

<p><%= @message.message %></p>

<p>Phone: <%= @message.phone_number %></p>
<p>Email: <%= @message.email_address %></p>
<p>Created At: <%= @message.created_at %></p>

