<div class="hidden-xs">
    <h2 id="month">
        <%= link_to date: @date.prev_year, :class => '' do %>
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        <% end %>

        <%= link_to date: @date.prev_month, :class => '' do %>
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
        <% end %>
        <b><%= @date.strftime("%B %Y") %></b>
        <%= link_to date: @date.next_month, :class => '' do %>
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        <% end %>
        <%= link_to date: @date.next_year, :class => '' do %>
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        <% end %>
    </h2>
    <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @grouped_tasks[date] %>
    <ul>
        <% @grouped_tasks[date].each do |task| %>

        <% if task.completed? %>
        <li class="green no-dec">

            <strike>
                <span data-toggle="tooltip" title="<%= task.prospect.business_name %>"><%= link_to truncate(task.body, :length => 30),  edit_prospect_path(task.prospect), :class => 'green' %></span>
            </strike>
        </li>
    <% else %>
        <li class="red no-dec">
            <span data-toggle="tooltip" title="<%= task.prospect.business_name %>"><%= link_to truncate(task.body, :length => 30),  edit_prospect_path(task.prospect), :class => 'red' %></span>
        </li>
        <% end %>

        <% end %>
    </ul>
    <% end %>
    <% end %>
</div>

<div class="visible-xs container-fluid">

    <div class="well margin-top-edit-prospect-btns">
        <% if @uncompleted_tasks.size == 0 %>
    <% else %>
        <h4 class="no-margin text-left"><%= truncate(@next_task.body, :length => 20, :class => '') %>
            <span class="pull-right"><%= @next_task.finish_date.strftime("%m/%d/%Y") %></span><% end %></h4>
        <% if @uncompleted_tasks.size == 0 %>
        <p class="text-left no-margin-bottom">No Actions</p>
    <% else %>
        <p class="text-left no-margin-bottom"><%= truncate(@next_task.prospect.business_name, :length => 34, :class => '') %></p>
        <% end %>
    </div>
    <h3 class="text-center">All Actions</h3>
    <div class="well margin-top-edit-prospect-btns">
        <% @sorted_tasks.each do |task| %>
        <% if task.completed? %>

        <div class="clearfix delete">
            <div class="delete-btn-action">
                <p class="pull-left no-margin-bottom"><%= truncate(task.prospect.business_name, :length => 24, :class => '') %>
                    <div class="pull-right">
                        <%= task.finish_date.strftime("%m/%d/%Y") %>
                    </div>
                    <div class="clearfix"></div>
                    <p class="text-left green">
                        <strike><%= link_to truncate(task.body, :length => 45),  edit_prospect_path(task.prospect), :class => 'green' %></strike>
                    </p>
                </div>
            </div>

        <% else %>

            <div class="clearfix delete">
                <div class="delete-btn-action">
                    <p class="pull-left no-margin-bottom"><%= truncate(task.prospect.business_name, :length => 24, :class => '') %>
                        <div class="pull-right">
                            <%= task.finish_date.strftime("%m/%d/%Y") %>
                        </div>
                        <div class="clearfix"></div>
                        <p class="text-left red"><%= link_to truncate(task.body, :length => 45),  edit_prospect_path(task.prospect), :class => 'red' %></p>
                    </div>
                </div>
                <% end %>

                <% end %>
            </div>
        </div>
