<div class="container-fluid hidden-xs">
    <h2 id="month">
        <%= link_to date: @date.prev_year, :class => '' do %>
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        <% end %>

        <%= link_to date: @date.prev_month, :class => '' do %>
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
        <% end %>
        <b><%= @date.strftime("%B %Y") %></b>
        <%= link_to date: @date.next_month, :class => '' do %>
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        <% end %>
        <%= link_to date: @date.next_year, :class => '' do %>
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        <% end %>
    </h2>
    <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @grouped_tasks[date] %>
    <ul>
        <% @grouped_tasks[date].each do |task| %>

        <% if task.completed? %>
        <li class="green">
            <strike><%= task.body %></strike>
        </li>
    <% else %>
        <li class="red"><%= task.body %></li>
        <% end %>

        <% end %>
    </ul>
    <% end %>
    <% end %>
</div>


<div class="visible-xs container-fluid">

  <div class="well margin-top-edit-prospect-btns">
  <h4 class="no-margin text-left">Next Action:
  <% if @uncompleted_tasks.size == 0 %><% else %><span class="pull-right"><%= @next_task.finish_date.strftime("%m/%d/%Y") %></span><% end %></h4>
  <% if @uncompleted_tasks.size == 0 %>
  <p class="text-left no-margin-bottom">No Actions</p>
  <% else %>
      <p class="text-left no-margin-bottom"><%= @next_task.body %><span class="pull-right"></span></p>
  <% end %>
  </div>

<div class="well margin-top-edit-prospect-btns">
  <% @sorted_tasks.each do |task| %>
     <% if task.completed? %>

     <div class="clearfix delete">
     <div class="delete-btn-action">
       <p class="pull-left no-margin-bottom"><small class="text-capitalize"><strong><%= time_ago_in_words(task.created_at) %> Ago</strong></small></p>
       <div class="pull-right">
         <span data-toggle="tooltip" title="<%= task.prospect.business_name %>" data-placement="top"><%= task.finish_date.strftime("%m/%d/%Y") %></span>
       </div><div class="clearfix"></div>
       <p class="text-left green"><strike><%= link_to task.body, edit_prospect_path(task.prospect), :class => 'green' %></strike></p>
       </div>
       </div>

     <% else %>

     <div class="clearfix delete">
     <div class="delete-btn-action">
       <p class="pull-left no-margin-bottom"><small class="text-capitalize"><strong><%= time_ago_in_words(task.created_at) %> Ago</strong></small></p>
       <div class="pull-right">
         <span data-toggle="tooltip" title="<%= task.prospect.business_name %>" data-placement="top"><%= task.finish_date.strftime("%m/%d/%Y") %></span>
       </div><div class="clearfix"></div>
        <p class="text-left green"><%= link_to task.body, edit_prospect_path(task.prospect), :class => 'red' %></p>
       </div>
       </div>

     <% end %>

  <% end %>
</div>
</div>
