<header>
      <center><%= image_tag('homebannerfinal.png', :class => 'img-responsive') %></center>
</header>

<!-- Page Content -->
<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">

          <!-- Call to Action Section -->
          <div class="well margin-top-edit-prospect-btns">
              <div class="row">
                  <div class="col-md-8">
                      <h2 class="cta visible-lg"><strong>Are You Tired Of Asking For A Statement?</strong></h2>
                      <h3 class="cta visible-sm visible-md"><strong>Are You Tired Of Asking For A Statement?</strong></h3>
                      <h4 class="cta visible-xs cta-font-size"><strong>Are You Tired Of Asking For A Statement?</strong></h4>
                  </div>
                  <div class="col-md-4">
                      <%= link_to "Start A Free Trial", static_pricing_path, :class => 'btn btn-lg btn-primary btn-block bold' %>
                  </div>
              </div>
          </div>

        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="text-center white">
                        IQ</h4>
                </div>
                <div class="panel-body">
                    <p>Run an instant quote without ever seeing a statement.<br>Instantly see bonuses, residuals, and savings to the merchant. Show the merchant an instant comparison with the programs you offer!</p>
                    <center><%= link_to("Get Started", static_pricing_path, :class => 'btn btn-default' ) %></center>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="text-center white">
                        Interchange Generator</h4>
                </div>
                <div class="panel-body">
                    <p>Our interchange algorithm will not only calculate cost, but will also build an interchange table for each merchant to show them an exact breakdown of their interchange fees.</p>
                  <br>  <center><%= link_to("Get Started", static_pricing_path, :class => 'btn btn-default' ) %></center>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="text-center white">

                        ISO Branding</h4>
                </div>
                <div class="panel-body">
                    <p>Get IQ on your own custom domain or existing domain, and only show the programs your company offers. We will also include eight training courses and a partner portal for your sales team.</p>
                    <br><center><%= link_to("Get Started", static_pricing_path, :class => 'btn btn-default' ) %></center>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Image Gallery</h2>
        </div>
        <div class="col-md-4">
          <div class="well">
            <%= image_tag('PC1.png', :class => 'img-responsive center') %>
        </div>
      </div>
        <div class="col-md-4">
          <div class="well">
          <%= image_tag('PC2.png', :class => 'img-responsive center') %>
        </div>
      </div>
        <div class="col-md-4">
          <div class="well ">
            <%= image_tag('PC3.png', :class => 'img-responsive center') %>
        </div><br>
      </div>
        <div class="col-md-4">
          <div class="well ">
            <%= image_tag('Tablet1.png', :class => 'img-responsive center') %>
        </div>
      </div>
        <div class="col-md-4">
          <div class="well ">
            <%= image_tag('Tablet2.png', :class => 'img-responsive center') %>
        </div>
      </div>
        <div class="col-md-4">
          <div class="well ">
            <%= image_tag('Tablet3.png', :class => 'img-responsive center') %>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <hr>


    <hr>
    <!-- Script to Activate the Carousel -->
    <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
    </script>
