<br><br>
<div class="container">
<div class="well">
<h1 class="lesson-title">
  <%= @lesson.title %> <span class="pull-right">
  	  <span class="pull-right time-font no-margin">
  <% if user_signed_in? && current_user.admin? %>

<ul class="no-dec">
<li class="dropdown no-dec">
  <a href="#" class="dropdown-toggle a-tag-for-navbar-links" data-toggle="dropdown"><i class="fa fa-ellipsis-v black menu" aria-hidden="true"></i><b class="caret"></b></a>
  <ul class="dropdown-menu course-dropdown">
    <li><%= link_to "Edit", edit_course_chapter_lesson_path(@course, @chapter, @lesson) %></li>
    <li><%= link_to "Delete", course_chapter_lesson_path(@course, @chapter, @lesson), method: :delete, data: { confirm: 'Are You Sure?' } %></li>
  </ul>
</li>
</ul>

  <% end -%>
  </span>
  </span>
</h1>
<h3 class="no-margin"><b><%= @lesson.minutes %></b><% if @lesson.minutes == nil %> <b>0</b> Minutes<% else %> Minutes<% end -%></h3>
<hr>
<center class="visible-sm visible-xs">
  <%= @lesson.video.html_safe %>
  <span class="visible-xs visible-sm"><br></span>
 </center>

 <div class="row">

 <div class="hidden-xs hidden-sm col-md-6 col-lg-5 video-padding">
 <%= @lesson.video.html_safe %>
 </div>
 <div class="col-md-5 col-lg-6 description-padding pull-right">
 	<div class="well">
 		<%= @lesson.description.html_safe %>
 	</div>
 </div>

 </div>

</div>
</div>

