<br><br>

<% @next_lesson = Lesson.where(lesson_number: @lesson.lesson_number + 1).where(course_id: @course.id).first %>
<% @last_lesson = Lesson.where(lesson_number: @lesson.lesson_number - 1).where(course_id: @course.id).first %>

<div class="container">
  <div class="well" style="max-width: 550px; min-width: 550px;">
    <% if @lesson.lesson_number != 1 %>
    <% @lessonuser = Lessonuser.where(lesson_id = @last_lesson.id) %>
      <%= link_to 'Previous Lesson', course_chapter_lesson_path(@course, @chapter, @last_lesson), class: 'btn btn-primary' %>
    <% else %>
      <%= link_to 'Back to Courses', courses_path, class: 'btn btn-primary' %>
    <% end %>

    <span class="pull-right">
      <% if @next_lesson.blank? != true %>
        <%= link_to 'Next Lesson', course_chapter_lesson_path(@course, @chapter, @next_lesson), class: 'btn btn-primary' %>
      <% else %>
        <%= link_to 'Courses', courses_path, class: 'btn btn-primary' %>
      <% end -%>
    </span><br>

    <div class="">
      <h1 class="lesson-title">
        <span class="col-xs-11 no-padding hidden-xs" style="margin-bottom: 10px !important;"><%= @lesson.title %></span>
        <span class="no-padding visible-xs text-center" style="margin-bottom: 10px !important;"><%= @lesson.title %></span> 
        <span class="col-xs-1 no-padding hidden-xs" style="margin-bottom: 10px !important;">
        	  <span class="pull-right time-font no-margin">


        <span><b><%= @lesson.minutes %></b><% if @lesson.minutes == nil %> <b>0</b>m<% else %>m<% end -%></span>


        <div class="clearfix"></div><br>
        </span>
        </span>
      </h1>
    </div>
    <div class="clearfix"></div>
    <div class="row">
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-right: 10px !important;">
     <%= @lesson.video.html_safe %>
     </div>
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-right: 10px !important;">
     	<div class="well">
     		<%= @lesson.description.html_safe %>
     	</div>
     </div>
    </div>
  </div>
</div>

<% if user_signed_in? && current_user.admin? %>
  <div class="text-center">
      <%= link_to "Edit", edit_course_chapter_lesson_path(@course, @chapter, @lesson), class: 'btn btn-primary' %>
      <%= link_to "Delete", course_chapter_lesson_path(@course, @chapter, @lesson), method: :delete, data: { confirm: 'Are You Sure?' }, class: 'btn btn-primary' %>
  </div>
<% end -%>
<br>