<br><br>


<div class="container">
<div class="well">
<div class="">
<h1 class="lesson-title">
  <span class="col-xs-11 no-padding" style="margin-bottom: 10px !important;"><%= @lesson.title %></span> <span class="col-xs-1 no-padding" style="margin-bottom: 10px !important;">
  	  <span class="pull-right time-font no-margin">


<span><b><%= @lesson.minutes %></b><% if @lesson.minutes == nil %> <b>0</b>m<% else %>m<% end -%></span>


<div class="clearfix"></div><br>
  </span>
  </span>
</h1>
</div>


<% if @lesson.video != "" %>
<center class="visible-sm visible-xs">
  <%= @lesson.video.html_safe %>
  <span class="visible-xs visible-sm"><br></span>
 </center>
  <% end -%>

<% if @lesson.video != "" %>
 <div class="row">

 <div class="hidden-xs hidden-sm col-md-6 col-lg-6" style="padding-right: 10px !important;">
 <%= @lesson.video.html_safe %>
 </div>
 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 description-padding pull-right">
 	<div class="well">
 		<%= @lesson.description.html_safe %>
 	</div>
 </div>

 </div>
 <% else -%>
 <div class="row">

  <div class="well">
    <center><%= @lesson.description.html_safe %></center>
  </div>


 </div>
 <% end -%>

</div>
</div>

<% if user_signed_in? && current_user.admin? %>
  <div class="text-center">
      <%= link_to "Edit", edit_course_chapter_lesson_path(@course, @chapter, @lesson), class: 'btn btn-primary' %>
      <%= link_to "Delete", course_chapter_lesson_path(@course, @chapter, @lesson), method: :delete, data: { confirm: 'Are You Sure?' }, class: 'btn btn-primary' %>
  </div>
<% end -%>