<br><br>
<div class="container">

<%= search_form_for @search do |f| %>
  <div class="input-group stylish-input-group clearfix">
    <%= f.search_field :name_cont, :class => 'form-control', :placeholder => 'Search' %>
            <span class="input-group-addon">
                <button type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
        <% end %>
      <br>

<% @courses.each do |course| %>
        
        <% @course_time = 0 %>
        <% @chapter_time = 0 %>
        <% @lesson_time = 0 %>
        <% course.chapters.each do |chapter| %>
          <% chapter.lessons.each do |lesson| %>
            <% @lesson_time = @lesson_time + lesson.minutes %>
            <% @chapter_time = @lesson_time %>
          <% end -%>
          <% @course_time = @chapter_time %>
        <% end -%>

<div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="white no-margin hidden-xs"><%= course.name %><span class="pull-right"><b><%= @course_time %></b>min</span></h3>
                    <h4 class="white no-margin visible-xs"><%= course.name %><span class="pull-right"><b><%= @course_time %></b>min</span></h4>
                </div>
                <div class="panel-body course-panel-height">
                    <p><%= course.description %></p>
                </div>
                <div class="panel-footer special-footer">
                    <center><%= link_to("View", course_path(course), :class => 'btn btn-default bold' ) %></center>
                </div>
            </div>
        </div>

<% end -%>

</div>


<% if user_signed_in? && current_user.admin? %>
<%= link_to new_course_path, :class => 'btn btn-primary fab-btn' do %>
<i class="fa fa-plus fab-plus" aria-hidden="true"></i>
<% end %>
<% end %>