<br><br>

<div class="container">
<% if user_signed_in? && current_user.admin? %>

    <%= form_tag import_courses_path, multipart: true do %>

      <%= file_field_tag :file, style: 'margin-bottom: 5px !important;', id: 'import_field' %>
      <%= submit_tag "Import", :class => 'btn btn-primary', id: 'import_btn' %>
    <% end %>

<% end %>
<div class="col-md-8 col-md-offset-2 col-lg-12 col-lg-offset-0">
<%= search_form_for @search do |f| %>
  <div class="input-group stylish-input-group clearfix">
    <%= f.search_field :name_or_description_cont, :class => 'form-control', :placeholder => 'Search' %>
            <span class="input-group-addon">
            <% if @search.name_or_description_cont == nil %>
                <button type="submit">
                    <span class="glyphicon glyphicon-search" style="padding-top: 1px !important;"></span>
                </button>
              <% else %>
                <%= link_to courses_path do %>
                  <i class="fa fa-times-circle-o black big-fa" style="color: #575757 !important; padding-top: 1px !important; cursor: pointer; font-size: 20px !important;" aria-hidden="true"></i>
                <% end -%>
              <% end -%>
            </span>
        </div>
        <% end %>
      </div><div class="clearfix"></div>
      <br>

<% @courses.each do |course| %>
        
<% @course_time = 0 %>
    <% course.chapters.each do |chapter| %>
      <% chapter.lessons.each do |lesson| %>
       <% if lesson.minutes == nil %>
         <% @course_time = @course_time + 0 %>
        <% else %>
         <% @course_time = @course_time + lesson.minutes %>
        <% end %>
     <% end %>
     <% end -%>

<% if @search.result.count == 1 %>

<div class="col-md-12 hover">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5 class="white no-margin visible-lg visible-md"><%= truncate(course.name, length: 60) %><span class="pull-right"><b><%= @course_time %></b>m</span></h5>
                    <h5 class="white no-margin hidden-xs hidden-lg hidden-md"><%= course.name %><span class="pull-right"><b><%= @course_time %></b>m</span></h5>
                    <h5 class="white no-margin visible-xs row"><span class="col-xs-9 no-padding"><%= course.name %></span><span class="col-xs-3 no-padding text-right"><b><%= @course_time %></b>m</span></h5>
                </div>
                <div class="panel-body course-panel-height">
                    <p class="hidden-xs"><%= truncate(course.description, length: 500) %></p>
                    <p class="visible-xs"><%= truncate(course.description, length: 200) %></p>
                </div>
                <div class="panel-footer special-footer">
                <% if user_signed_in? && current_user.training_subscribed == true %>
                    <center><%= link_to("View", course_path(course), :class => 'btn btn-primary bold' ) %></center>
                <% else %>
                    <center><%= link_to("Sign In", new_user_session_path, :class => 'btn btn-primary bold' ) %></center>
                <% end -%>
                </div>
            </div>
        </div>

<% else %>

<div class="col-md-8 col-md-offset-2 hover col-lg-6 col-lg-offset-0 hover">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5 class="white no-margin visible-lg visible-md"><%= truncate(course.name, length: 60) %><span class="pull-right"><b><%= @course_time %></b>m</span></h5>
                    <h5 class="white no-margin hidden-xs hidden-lg hidden-md"><%= course.name %><span class="pull-right"><b><%= @course_time %></b>m</span></h5>
                    <h5 class="white no-margin visible-xs row"><span class="col-xs-9 no-padding"><%= course.name %></span><span class="col-xs-3 no-padding text-right"><b><%= @course_time %></b>m</span></h5>
                </div>
                <div class="panel-body course-panel-height">
                    <p class="hidden-xs"><%= truncate(course.description, length: 500) %></p>
                    <p class="visible-xs"><%= truncate(course.description, length: 200) %></p>
                </div>
                <div class="panel-footer special-footer">
                <% if user_signed_in? && current_user.training_subscribed == true %>
                    <center><%= link_to("View", course_path(course), :class => 'btn btn-primary bold' ) %></center>
                <% else %>
                    <center><%= link_to("Sign In", new_user_session_path, :class => 'btn btn-primary bold' ) %></center>
                <% end -%>
                </div>
            </div>
        </div>
        <% end -%>

<% end -%>

</div>


<% if user_signed_in? && current_user.admin? %>
<%= link_to new_course_path, :class => 'btn fab-btn white' do %>
<i class="fa fa-plus fab-plus" aria-hidden="true"></i>
<% end %>
<% end %>