<br><br>
<div class="container">

<div class="well">
<center>
<h1 class="course-title">
	<%= @course.name %>
</h1>
  <h1 class="course-length"><b><%= @course.minutes %></b> Minutes</h1>
</center>
  <% @course.chapters.each do |chapter| %>
  <hr>
  	<h3><%= link_to chapter.name, course_chapter_path(@course, chapter) %>
  		<span class="pull-right"><b><%= chapter.minutes %></b> Minutes</span>
  	</h3>
  <% end -%>

</div>

</div>

<% if user_signed_in? && current_user.admin? -%>
<%= link_to new_course_chapter_path(@course), :class => 'btn btn-primary fab-btn' do %>
<i class="fa fa-plus fab-plus" aria-hidden="true"></i>
<% end %>
<% end -%>