<br><br>
<div class="container">
<% @current_chapteruser = Chapteruser.where(user_id = current_user.id) %>
<div class="well">
<h1 class="lesson-title">
  <%= @course.name %>
  <span class="pull-right time-font no-margin">
  <% if user_signed_in? && current_user.admin? %>

<ul class="no-dec pull-left">
<li class="dropdown no-dec">
  <a href="#" class="dropdown-toggle a-tag-for-navbar-links" data-toggle="dropdown"><i class="fa fa-ellipsis-v black menu" aria-hidden="true"></i><b class="caret"></b></a>
  <ul class="dropdown-menu course-dropdown">
		<li><%= link_to "Edit", edit_course_path(@course) %></li>
		<li><%= link_to "Delete", course_path(@course), method: :delete, data: { confirm: 'Are You Sure?' } %></li>
  </ul>
</li>
</ul>

  <% end -%>
  </span>
  <span class="pull-right time-font no-margin">
  <b><%= @course_time %></b> Minutes
  </span>
</h1><hr>

<h2 class="text-center"><b>Chapters</b></h2>

  <% @course.chapters.each do |chapter| %>
				<% @chapter_time = 0 %>
				<% @lesson_time = 0 %>
				<% chapter.lessons.each do |lesson| %>
          <% if lesson.minutes == nil %>
            <% @lesson_time = @lesson_time + 0 %>
          <% else %>
  					<% @lesson_time = @lesson_time + lesson.minutes %>
          <% end -%>
					<% @chapter_time = @lesson_time %>
				<% end -%>

  	<h3><%= link_to chapter.name, course_chapter_path(@course, chapter), :class => 'black' %>
  		<span class="pull-right"><b><%= @chapter_time %></b> Minutes</span>
  	</h3>
  	<% if chapter != @chapters.last %>
			<hr>
		<% end -%>
  <% end -%>

</div>

</div>

<% if user_signed_in? && current_user.admin? -%>
<%= link_to new_course_chapter_path(@course), :class => 'btn fab-btn white' do %>
<i class="fa fa-plus fab-plus" aria-hidden="true"></i>
<% end %>
<% end -%>