<br><br>
<div class="container">

<div class="well">
<h1 class="lesson-title">
  <%= @course.name %> <% if user_signed_in? && current_user.admin? %><%= link_to "Delete", course_path(@course), method: :delete, data: { confirm: 'Are You Sure?' }, :class => 'btn btn-primary' %><% end -%><span class="pull-right time-font"><b><%= @course_time %></b> Minutes</span>
</h1><hr>

<h2 class="text-center"><b>Chapters</b></h2>

  <% @course.chapters.each do |chapter| %>
				<% @chapter_time = 0 %>
				<% @lesson_time = 0 %>
				<% chapter.lessons.each do |lesson| %>
					<% @lesson_time = @lesson_time + lesson.minutes %>
					<% @chapter_time = @lesson_time %>
				<% end -%>

  	<h3><%= link_to chapter.name, course_chapter_path(@course, chapter), :class => 'black' %>
  		<span class="pull-right"><b><%= @chapter_time %></b> Minutes</span>
  	</h3>
  	<% if chapter != @chapters.last %>
			<hr>
		<% end -%>
  <% end -%>

</div>

</div>

<% if user_signed_in? && current_user.admin? -%>
<%= link_to new_course_chapter_path(@course), :class => 'btn btn-primary fab-btn' do %>
<i class="fa fa-plus fab-plus" aria-hidden="true"></i>
<% end %>
<% end -%>