<%= form_for(@inttableitem) do |f| %>
  <% if @inttableitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inttableitem.errors.count, "error") %> prohibited this inttableitem from being saved:</h2>

      <ul>
      <% @inttableitem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :inttype_id %><br>
    <%= f.text_field :inttype_id %>
  </div>
  <div class="field">
    <%= f.label :statement_id %><br>
    <%= f.text_field :statement_id %>
  </div>
  <div class="field">
    <%= f.label :transactions %><br>
    <%= f.number_field :transactions %>
  </div>
  <div class="field">
    <%= f.label :volume %><br>
    <%= f.text_field :volume %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
