<br>
<%= form_for(@prospect) do |f| %>
  <% if @prospect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prospect.errors.count, "error") %> prohibited this prospect from being saved:</h2>

      <ul>
      <% @prospect.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-sm-4 col-sm-offset-4 text-center">
  <div class="field">
    <%= f.label :business_name, :class => 'text' %><br>
    <%= f.text_field(:business_name, :class => "form-control", :id => "inputdefault") %><br><br>
  </div>
  <div class="field">
    <%= f.label :contact_name, :class => 'text' %><br>
    <%= f.text_field(:contact_name, :class => "form-control", :id => "inputdefault") %><br><br>
  </div>
  <div class="field">
    <%= f.label :phone, :class => 'text' %><br>
    <%= f.phone_field(:phone, :class => "form-control", :id => "inputdefault") %><br><br>
  </div>
  <div class="field">
    <%= f.label :email, :class => 'text' %><br>
    <%= f.email_field(:email, :class => "form-control", :id => "inputdefault") %><br><br>
  </div>
  <div class="field">
    <%= f.label :source_type, :class => 'text' %><br>
    <%= f.text_field(:source_type, :class => "form-control", :id => "inputdefault") %><br><br>
  </div>  
    <%= f.hidden_field(:description_id) %>
    <%= f.hidden_field(:description_primary) %>
    <%= f.hidden_field(:description_secondary) %>
    <%= f.hidden_field(:amex_business_type) %>
  <div class="actions">
    <%= button_tag("Submit", :class => 'btn btn-primary') %>
    <%= link_to(content_tag(:button, 'Back', :class => 'btn btn-primary'), prospects_path) %>
  </div>
  </div>
<% end %>
<div class="clearfix"></div>