
<br /><br />
<div class="container-fluid">

    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
        <%= search_form_for @search do |f| %>
        <div class="input-group stylish-input-group">
            <%= f.search_field :business_name_or_contact_name_or_phone_or_email_cont, :class => 'form-control', :placeholder => 'Search' %>
            <span class="input-group-addon">
            <% if @search.business_name_or_contact_name_or_phone_or_email_cont == nil %>
                <button type="submit">
                    <span class="glyphicon glyphicon-search" style="padding-top: 1px !important;"></span>
                </button>
              <% else %>
                <%= link_to prospects_path do %>
                  <i class="fa fa-times-circle-o black big-fa" style="color: #575757 !important; padding-top: 1px !important; cursor: pointer; font-size: 20px !important;" aria-hidden="true"></i>
                <% end -%>
              <% end -%>
            </span>
        </div>
        <% end %>
        <center class="fab-plus"><b><%= link_to "View All Actions", calendars_index_path, :class => 'black' %></b></center>
            <br>
    </div> <div class="clearfix"></div>

    <!-- visible sm and xs -->
    <div class="container-fluid text-center">

        <div class="visible-xs visible-sm">
            <% @prospects.each do |prospect| %>
            <div class="col-lg-4">
                <div class="panel panel-primary text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <b><%= prospect.business_name %></b>
                        </h3>
                    </div>

                    <ul class="list-group">
                        <li class="list-group-item">
                            <b>Contact Name:
                            </b><%= prospect.contact_name %></li>
                        <li class="list-group-item">
                            <b>Phone Number:
                            </b><%= prospect.phone %></li>
                        <li class="list-group-item">
                            <b>Email:
                            </b><%= prospect.email %></li>

                        <li class="list-group-item"><%= link_to(content_tag(:button, 'Edit', :class => 'btn btn-primary'), edit_prospect_path(prospect)) %>
                            <%= link_to(content_tag(:button, 'Delete', :class => 'btn btn-primary'), prospect, method: :delete, data: { confirm: 'Are you sure?' }) %>
                            <%= link_to(content_tag(:button, 'Quote', :class => 'btn btn-primary'), new_prospect_statement_path(prospect_id: prospect.id)) %></li>
                    </ul>
                </div>
            </div>
            <% end %>
        </div>

        <!-- visible md and lg -->
        <div class="visible-md visible-lg">
            <table class="table table-striped table-responsive table-hover table-bordered">
                <thead>
                    <tr class="white total">
                        <th>Business Name</th>
                        <th>Contact Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Stage</th>
                    </tr>
                </thead>

                <tbody>
                    <% @prospects.each do |prospect| %>
                            <tr class="clickme" data-href= "<%= edit_prospect_path(prospect) %>">
                                <td class="text-left"><%= prospect.business_name %></td>
                                <td class="text-left"><%= prospect.contact_name %></td>
                                <td class="text-left"><%= prospect.phone %></td>
                                <td class="text-left"><%= prospect.email %></td>
                                <td class="text-left"><%= prospect.stage.name %></td>
                            </tr>

                            <script type="text/javascript">
                                $("tr[data-href]").click(function() {
                                  window.location = $(this).data("href")
                                })
                            </script>


                    <% end %>
                </tbody>
            </table>
        </div>

        <h1><%= @searchnone %></h1>

    </div>
</div>

<%= link_to choose_descriptions_path, :class => 'btn fab-btn white' do %>
<i class="fa fa-plus fab-plus" aria-hidden="true"></i>
<% end %>
<% if current_user.admin? %>
<%= link_to users_path, class: 'btn btn-primary admin-btn bold' do %>
    <i class="fa fa-terminal admin-plus bold" aria-hidden="true"></i>
<% end -%>
<% end -%>

