
<div>
<%= search_form_for @search do |f| %>

      <div class="col-xs-3">
      <div class="form-inline">
      <%=f.search_field :business_name_or_contact_name_cont, :class => "form-control", :id => "inputdefault" %>
      <%= button_tag("Search", :class => 'btn btn-primary') %>
      </div>
      </div>
<% end %>
  </div>

<br><br><br><br>
 <div class="container">
<div class="row">
            <div class="col-md-4">
            <% @prospects.each do |prospect| %>

                <div class="panel panel-primary text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b><%= prospect.business_name %></b></h3>
                    </div>
                  
                    <ul class="list-group">
                        <li class="list-group-item"><b>Contact Name: </b><%= prospect.contact_name %></li>
                        <li class="list-group-item"><b>Phone Number: </b><%= prospect.phone %></li>
                        <li class="list-group-item"><b>Contact Email: </b><%= prospect.email %></li>
                        
                        <li class="list-group-item"><%= link_to(content_tag(:button, 'Edit', :class => 'btn btn-primary'), edit_prospect_path(prospect)) %>
                        <%= link_to(content_tag(:button, 'Delete', :class => 'btn btn-primary'), prospect, method: :delete, data: { confirm: 'Are you sure?' }) %>
                        <%= link_to(content_tag(:button, 'Quote', :class => 'btn btn-primary'), new_prospect_statement_path(prospect_id: prospect.id)) %></li>
                    </ul>
                </div>
                <% end %>
            </div>
      </div>
  <%= link_to(content_tag(:button, 'New Prospect', :class => 'btn btn-primary'), choose_descriptions_path) %>
</div>