<br>
<div class="container-fluid">

    

        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
        <%= search_form_for @search do |f| %>
        <div class="input-group stylish-input-group">
        <%=f.search_field :business_name_or_contact_name_or_phone_or_email_cont, :class => 'form-control', :placeholder => 'Search' %>
        <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
                    </span>
       </div>
        <% end %>
        </div>


    

<br><br><br><br>
 <div class="container-fluid">
            <% @prospects.each do |prospect| %>
                <div class=" col-sm-6 col-md-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b><%= prospect.business_name %></b></h3>
                    </div>
                  
                    <ul class="list-group">
                        <li class="list-group-item"><b>Contact Name: </b><%= prospect.contact_name %></li>
                        <li class="list-group-item"><b>Phone Number: </b><%= prospect.phone %></li>
                        <li class="list-group-item"><b>Contact Email: </b><%= prospect.email %></li>
                        
                        <li class="list-group-item"><%= link_to(content_tag(:button, 'Edit', :class => 'btn btn-primary'), edit_prospect_path(prospect)) %>
                        <%= link_to(content_tag(:button, 'Delete', :class => 'btn btn-primary'), prospect, method: :delete, data: { confirm: 'Are you sure?' }) %>
                        <%= link_to(content_tag(:button, 'Quote', :class => 'btn btn-primary'), new_prospect_statement_path(prospect_id: prospect.id)) %></li>
                    </ul>
                </div>
                </div>
                <% end %>
  <%= link_to(content_tag(:button, '+', :class => 'btn btn-primary fabbutton'), choose_descriptions_path) %>
</div>
</div>