<center>
<div class="field">
<%= search_form_for @search do |f| %>
      <%=f.search_field :business_name_or_contact_name_cont, :id => 'search-box' %>

      <%= button_tag("Search") %>
<% end %>
  </div>

<% @prospects.each do |prospect| %>
  <div class="main-div">
  <div class="title">
        <p><b><%= prospect.business_name %></b></p>
  </div>
        <div class="main_content">
          <p class="main_content_p"><b>Contact Name: </b><%= prospect.contact_name %></p>
          <p class="main_content_p"><b>Phone Number: </b><%= prospect.phone %></p>
          <p class="main_content_p"><b>Contact Email: </b><%= prospect.email %></p>
        </div>
        <div class="buttons">
        <%= link_to(content_tag(:button, 'Edit'), edit_prospect_path(prospect)) %>
        <%= link_to(content_tag(:button, 'Delete'), prospect, method: :delete, data: { confirm: 'Are you sure?' }) %>
        <%= link_to(content_tag(:button, 'Quote'), new_prospect_statement_path(prospect_id: prospect.id)) %>
        </div>
    </div><br>
<% end %>
<center>
<div class="footer">
  <%= link_to(content_tag(:button, '+', :class => 'footerbutton'), choose_descriptions_path) %>
</div>