<br>
<div class="container-fluid col-xs-4 form-inline"">
    
<%= search_form_for @search do |f| %>

      <%=f.search_field :business_name_or_contact_name_cont, :class => "form-control", :id => "inputdefault" %>
      <%= button_tag("Search", :class => 'btn btn-success') %>
<% end %>
     
  </div>

<br><br><br><br>
 <div class="container-fluid">
            <% @prospects.each do |prospect| %>
                <div class="col-sm-6">
                <div class="panel panel-primary text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b><%= prospect.business_name %></b></h3>
                    </div>
                  
                    <ul class="list-group">
                        <li class="list-group-item"><b>Contact Name: </b><%= prospect.contact_name %></li>
                        <li class="list-group-item"><b>Phone Number: </b><%= prospect.phone %></li>
                        <li class="list-group-item"><b>Contact Email: </b><%= prospect.email %></li>
                        
                        <li class="list-group-item"><%= link_to(content_tag(:button, 'Edit', :class => 'btn btn-success'), edit_prospect_path(prospect)) %>
                        <%= link_to(content_tag(:button, 'Delete', :class => 'btn btn-success'), prospect, method: :delete, data: { confirm: 'Are you sure?' }) %>
                        <%= link_to(content_tag(:button, 'Quote', :class => 'btn btn-success'), new_prospect_statement_path(prospect_id: prospect.id)) %></li>
                    </ul>
                </div>
                </div>
                <% end %>
  <%= link_to(content_tag(:button, 'New Prospect', :class => 'btn btn-success'), choose_descriptions_path) %>
</div>