<center>
<p id="notice"><%= notice %></p>
<hr>
<p class="black-p">
  <strong>Business name:</strong>
  <%= @prospect.business_name %>
</p>
<hr>
<p class="black-p">
  <strong>Contact name:</strong>
  <%= @prospect.contact_name %>
</p>
<hr>
<p class="black-p">
  <strong>Contact Phone:</strong>
  <%= @prospect.phone %>
</p>
<hr>
<p class="black-p">
  <strong>Contact email:</strong>
  <%= @prospect.email %>
</p>
<hr>
<%= link_to(content_tag(:button, 'Edit'), edit_prospect_path(@prospect)) %>
<%= link_to(content_tag(:button, 'Back'), prospects_path) %>
</center>