 <div class="container">
<div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b><%= @prospect.business_name %></b></h3>
                    </div>
                  
                    <ul class="list-group">
                        <li class="list-group-item"><b>Contact Name: </b><%= @prospect.contact_name %></li>
                        <li class="list-group-item"><b>Phone Number: </b><%= @prospect.phone %></li>
                        <li class="list-group-item"><b>Contact Email: </b><%= @prospect.email %></li>
                        <li class="list-group-item"><%= link_to(content_tag(:button, 'Edit', :class => 'btn btn-primary'), edit_prospect_path(@prospect)) %>
                        <%= link_to(content_tag(:button, 'Back', :class => 'btn btn-primary'), prospects_path) %></li>
                    </ul>
                </div>

        </div>
</div>