<br><br>
<div class="container">
<div class="well">

<h1 class="lesson-title">
  <%= @chapter.name %>
  <span class="pull-right time-font no-margin">
  <% if user_signed_in? && current_user.admin? %>

<ul class="no-dec">
<li class="dropdown no-dec">
  <a href="#" class="dropdown-toggle a-tag-for-navbar-links" data-toggle="dropdown"><i class="fa fa-ellipsis-v black menu" aria-hidden="true"></i><b class="caret"></b></a>
  <ul class="dropdown-menu course-dropdown">
    <li><%= link_to "Edit", edit_course_chapter_path(@course, @chapter) %></li>
    <li><%= link_to "Delete", course_chapter_path(@course, @chapter), method: :delete, data: { confirm: 'Are You Sure?' } %></li>
  </ul>
</li>
</ul>

  <% end -%>
  </span>
  <span class="pull-right time-font"><b><%= @chapter_time %></b> Minutes</span>
</h1><hr>

	<h2 class="text-center"><b>Lessons</b></h2>

  <% @chapter.lessons.each do |lesson| %>
  
  <h3><% if lesson.completed? %><i class="fa fa-eye" aria-hidden="true"></i><% else %><i class="fa fa-eye-slash" aria-hidden="true"></i><% end %> | <%= link_to lesson.title, complete_course_chapter_lesson_path(@course, @chapter, lesson), method: :patch, :class => 'black' %>
  		<span class="pull-right"><b><%= lesson.minutes %></b> Minutes</span>
  	</h3>
  	 <% if lesson != @lessons.last %>
			<hr>
		<% end -%>
  <% end -%>

</div>
</div>

<% if user_signed_in? && current_user.admin? %>
<%= link_to new_course_chapter_lesson_path(@course, @chapter), :class => 'btn fab-btn white' do %>
<i class="fa fa-plus fab-plus" aria-hidden="true"></i>
<% end %>
<% end -%>