<br><br>
<div class="container">
<div class="well">

<h1 class="lesson-title col-xs-10 col-sm-11 no-padding text-left hidden-xs">
  <%= @chapter.name %>
</h1>
<h1 class="lesson-title no-padding visible-xs text-center">
  <%= @chapter.name %>
</h1>
<span class="pull-right time-font no-margin col-xs-2 col-sm-1 no-padding text-right hidden-xs" style="padding-right: 10px !important;">
<b><%= @chapter_time %></b>m
</span>
<div class="clearfix visible-xs"></div>
<span class="no-margin visible-xs text-center" style="padding-right: 10px !important; font-size: 30px !important;">
<b><%= @chapter_time %></b>m
</span>
<hr>

	<h2 class="text-center"><b>Lessons</b></h2>

  <% @chapter.lessons.each do |lesson| %>

  <h3 class="col-sm-10 col-xs-9 no-padding no-margin" style="margin-bottom: 0px !important;">
  <% @lessonuser = [] %>
<% @lessonid = [] %>
<% @current_lessonuser = Lessonuser.where(user_id: current_user.id) %>
<% @current_lessonuser.each do |lessonuser| %>
  <% if lessonuser.lesson_id == lesson.id %>
    <% if lessonuser.completed? %>
    <i class="fa fa-eye" aria-hidden="true"></i>
  <% else %>
    <i class="fa fa-eye-slash" aria-hidden="true"></i>
  <% end %>
<% end -%>
<% end -%>

<% @lessonuser = [] %>
<% @lessonid = [] %>
<% @current_lessonuser = Lessonuser.where(user_id: current_user.id) %>
<% @current_lessonuser.each do |lessonuser| %>
  <% @lessonuser << lessonuser.user_id %>
  <% @lessonid << lessonuser.lesson_id %>
<% end -%>
<% @lessonid = @lessonid.sort %>
<% @lessonid.each do |lessonid| %>
  <% if lessonid == lesson.id %>
  | <%= link_to lesson.title, complete_lessonuser_path(lessonid), method: :patch, :class => 'black' %>
<% end -%>
<% end -%>
  	</h3>
    <div class="pull-right col-sm-2 col-xs-3 no-padding no-margin text-right" style="font-size: 20px !important; margin-bottom: 0px !important; padding-left: 5px !important;"><b><%= lesson.minutes %></b>m</div>
<div class="clearfix"></div>
  	 <% if lesson != @lessons.last %>
			<hr style="margin: 5px !important;">
		<% end -%>
  <% end -%>
<div class="clearfix"></div>
</div>
</div>

 <% if user_signed_in? && current_user.admin? %>
  <center>
    <%= link_to "Edit", edit_course_chapter_path(@course, @chapter), class: 'btn btn-primary' %>
    <%= link_to "Delete", course_chapter_path(@course, @chapter), method: :delete, data: { confirm: 'Are You Sure?' }, class: 'btn btn-primary' %>
  </center>
  <% end -%>

<% if user_signed_in? && current_user.admin? %>
<%= link_to new_course_chapter_lesson_path(@course, @chapter), :class => 'btn fab-btn white' do %>
<i class="fa fa-plus fab-plus" aria-hidden="true"></i>
<% end %>
<% end -%>
<br>