<!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top nav-custom-styles" role="navigation">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle no-outline" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <%= link_to root_url do %>
                  <%= image_tag('iqlogo.png', :class => 'logo xs-logo') %>
              <% end %>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                       <%= link_to("Pricing", static_pricing_path, :class => 'a-tag-for-navbar-links nav-font' ) %>
                  </li>
                  <% if user_signed_in? %>
                  <% end %>
                  <li>
                      <%= link_to("Contact", static_contact_path, :class => 'a-tag-for-navbar-links nav-font') %>
                  </li>

              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>
<h2>Step Two: Billing Information</h2>
<%= render 'form' %>
