<div class="container">
<%= render 'form' %>

<table class="table table-hover table-bordered">
  <thead>
    <tr class="white total">
      <th colspan="6">My Processors</th>
      <th colspan="3" class="text-center" style="min-width: 240px;">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @private_processors.each do |processor| %>
      <tr>
        <td colspan="6"><%= processor.name %></td>
          <td class="" colspan="3" style="min-width: 240px;"><span class="pull-right"><%= link_to 'Create Program', new_processor_program_path(processor), class: 'btn btn-primary btn-sm' %>  <%= link_to 'Edit', edit_processor_path(processor), class: 'btn btn-primary btn-sm' %>  <%= link_to 'Delete', processor, method: :delete, data: { confirm: 'Are You Sure?' }, class: 'btn btn-primary btn-sm' %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table table-hover table-bordered">
  <thead>
    <tr class="white total">
      <th>Choose Existing</th>
      <th colspan="1" class="text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @processors.each do |processor| %>
      <tr>
        <td class=""><%= processor.name %></td>
        <td class="text-center"><%= link_to 'Create Program', new_processor_program_path(processor), class: 'btn btn-primary btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>