<div class="container">
<%= render 'form' %>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>My Processors</th>
      <th colspan="1"><span class="pull-right">Actions</span></th>
    </tr>
  </thead>

  <tbody>
    <% @private_processors.each do |processor| %>
      <tr>
        <td><%= processor.name %></td>
          <td class="" style="min-width: 220px;"><span class="pull-right"><%= link_to 'Create Program', new_processor_program_path(processor), class: 'black' %> | <%= link_to 'Edit', edit_processor_path(processor), class: 'black' %> | <%= link_to 'Delete', processor, method: :delete, data: { confirm: 'Are You Sure?' }, class: 'black' %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Choose Existing</th>
      <th colspan="1"><span class="pull-right">Actions</span></th>
    </tr>
  </thead>

  <tbody>
    <% @processors.each do |processor| %>
      <tr>
        <td><%= processor.name %></td>
        <td><%= link_to 'Create Program', new_processor_program_path(processor), class: 'black' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>