<h1>Add New Processor</h1>

<%= render 'form' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>My Processors</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @private_processors.each do |processor| %>
      <tr>
        <td><%= processor.name %></td>
        <td><%= link_to 'Create Program', new_processor_program_path(processor) %></td>
        <td><%= link_to 'Show', processor_path(processor) %></td>
        <td><%= link_to 'Edit', edit_processor_path(processor) %></td>
          <td><%= link_to 'Destroy', processor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Choose Existing</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @processors.each do |processor| %>
      <tr>
        <td><%= processor.name %></td>
        <td><%= link_to 'Create Program', new_processor_program_path(processor) %></td>
        <td><%= link_to 'Show', processor_path(processor) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
