<!DOCTYPE html>
<html>
<head>
    <title>Retriever University</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Retriever Agent Portal">
    <meta name="author" content="Retriever">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
   <%= stylesheet_link_tag('print', :media => :print) %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'https://js.stripe.com/v2/', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
	</head>
<body>

  <% if flash[:notice] %>
          <div class="">
              <div class="alert alert-info alert-message flyover">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">
                      <i class="fa fa-times-circle" aria-hidden="true"></i>
                  </a>
                  <center><strong><%= flash[:notice] %></strong></center>
              </div>
          </div>
          <% end %>

  <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top nav-custom-styles" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle no-outline" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to root_path do %>
                    <%= image_tag('retriever-logo.png', :class => 'logo xs-logo') %>
                <% end %>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                   
                    <% if user_signed_in? %>
                    <li>
                        <%= link_to("Prospects", prospects_path, :class => 'a-tag-for-navbar-links nav-font') %>
                    </li>
                    <% end %>
                    <li>
                        <%= link_to("Support", new_internal_contact_path, :class => 'a-tag-for-navbar-links nav-font') %>
                    </li>
                    <li>
                        <%= link_to("Training", courses_path, :class => 'a-tag-for-navbar-links nav-font') %>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle a-tag-for-navbar-links hidden-xs" data-toggle="dropdown"><i class="fa fa-user nav-font" aria-hidden="true"></i><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <% if user_signed_in? %>
                              <li class="hidden-xs">
                                  <%= link_to('Profile', edit_user_registration_path, :class => '') %>
                              </li>
                              <li class="hidden-xs">
                                  <%= link_to('Log Out', destroy_user_session_path, :method => :delete, :class => '') %>
                              </li>
                          <% else %>
                              <li class="hidden-xs">
                                   <%= link_to('Sign Up', new_user_registration_path, :class => '') %>
                              </li>
                              <li class="hidden-xs">
                                  <%= link_to('Sign In', new_user_session_path, :class => '') %>
                              </li>
                          <% end %>
                        </ul>
                    </li>
                    <% if user_signed_in? %>
                    <li class="visible-xs">
                        <%= link_to('Profile', edit_user_registration_path, :class => 'a-tag-for-navbar-links nav-font') %>
                    </li>
                    <li class="visible-xs">
                        <%= link_to('Log Out', destroy_user_session_path, :method => :delete, :class => 'a-tag-for-navbar-links nav-font') %>
                    </li>
                    <% else %>
                    <li class="visible-xs">
                         <%= link_to('Sign Up', new_user_registration_path, :class => 'a-tag-for-navbar-links nav-font') %>
                    </li>
                    <li class="visible-xs">
                        <%= link_to('Sign In', new_user_session_path, :class => 'a-tag-for-navbar-links nav-font') %>
                    </li>
                    <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<%= yield %>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    $('.alert-message').toggleClass('in');

                $(".alert-message").fadeTo(5000, 500).slideUp(1000, function () {
                    $(".alert-message").alert('close');
                });
});




</script>

</body>
</html>
